﻿@model CheckoutShippingMethodModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="page checkout-page shipping-method-page">

    @*Added by Faisal on 12 Jan, 2015 *@
    <script type="text/javascript">
        $(document).ready(function() {
            $('.shipping-price-input').keyup(function (event) {
                return myFunc(this)
            });

            changeToInput();
        });

        function myFunc(id) {
            var val = $(id).val();
            var re = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)$/g;
            var re1 = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)/g;
            if (re.test(val)) {
                //do something here
            } else {
                val = re1.exec(val);
                if (val) {
                    $(id).val(val[0]);
                } else {
                    $(id).val("");
                }
            }
        }

        function changeToInput()
        {
            $('.shippingMethod').each(function () {

                var arr = $(this).attr('id').split('_');
                var hdnShippingOption = $("#hdnShippingOption_" + arr[1]).val();

                //changed by faisal on 15 Jan, 2016
                if ($(this).is(':checked') && '@ViewBag.IsImpersonated' == "Y" && (hdnShippingOption == "fixedrate" || hdnShippingOption == "bytotal" || hdnShippingOption == "byweight")) {
                    $("#shippingMethodLabel_" + arr[1]).show();
                    $("#literal_" + arr[1]).show();
                    $("#shippingInput_" + arr[1]).show();
                    $("#shippingLabel_" + arr[1]).hide();
                    $("#shippingRate").val($("#shippingInput_" + arr[1]).val());
                    $("#shippingInput_" + arr[1]).focus();
                }
                else {
                    $("#shippingMethodLabel_" + arr[1]).hide();
                    $("#literal_" + arr[1]).hide();
                    $("#shippingInput_" + arr[1]).hide();
                    $("#shippingLabel_" + arr[1]).show();
                    //changed by faisal on 15 Jan, 2016
                    if ($(this).is(':checked'))
                        $("#shippingRate").val($("#shippingInput_" + arr[1]).val());
                }
            });
        }

        function onblurOfAmount(id)
        {
            $("#shippingRate").val($(id).val());
        }
    </script>
    @*End 12 Jan, 2015*@

    @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Shipping })
    <div class="page-title">
        <h1>@T("Checkout.SelectShippingMethod")</h1>
    </div>
    <div class="page-body checkout-data">
        <div class="section shipping-method">
            <p style="font-weight:bold;color:red;text-align:center;font-size:14px;">
                If you have a discounted shipping promo code you must select standard shipping and the discount will be applied on the next screen.
                <br />
            </p>
            @using (Html.BeginRouteForm("CheckoutShippingMethod", FormMethod.Post))
            {
                @Html.Hidden("shippingRate", "", new { id = "shippingRate" })
                
                @Html.Widget("checkout_shipping_method_top")
                if (Model.Warnings.Count == 0)
                {
                <ul class="method-list">
                    @for (int i = 0; i < Model.ShippingMethods.Count; i++)
                    {
                        var shippingMethod = Model.ShippingMethods[i];
                        
                        <li>
                            <div class="method-name">
                                <input id="shippingoption_@(i)" type="radio" name="shippingOption" onclick="changeToInput()" class="shippingMethod" value="@(shippingMethod.Name)___@(shippingMethod.ShippingRateComputationMethodSystemName)" checked="@shippingMethod.Selected" />
                                <label id="shippingMethodLabel_@(i)" for="shippingoption_@(i)">@shippingMethod.Name</label>
                                <span id="literal_@(i)"> $</span>
                                @Html.TextBox("txtShippingRate", shippingMethod.Fee.Trim('$'), new { id = "shippingInput_" + @i, @class = "shipping-price-input", style = "width:80px;", @maxlength = "10", @autocomplete = "off", onblur = "onblurOfAmount(this);" })
                                <label id="shippingLabel_@(i)" for="shippingoption_@(i)">@T("Checkout.SelectShippingMethod.MethodAndFee", shippingMethod.Name, shippingMethod.Fee)</label>
                                @*Added by faisal on 15 Jan, 2016*@
                                @Html.Hidden("hdnShippingOption_" + @i, shippingMethod.ShippingRateComputationMethodSystemName.ToString().Split('.')[1].ToLower())
                            </div>
                            @if (!String.IsNullOrEmpty(shippingMethod.Description))
                            {
                                <div class="method-description">
                                    @Html.Raw(shippingMethod.Description)
                                </div>
                            }
                        </li>
                    }
                </ul>
                if (Model.NotifyCustomerAboutShippingFromMultipleLocations)
                {
                    <div class="multiple-locations">
                        @T("Checkout.ShippingMethod.ShippingFromMultipleLocations")
                    </div>
                }
                <div class="buttons">
                    <input type="submit" name="nextstep" value="@T("Checkout.NextButton")" class="button-1 shipping-method-next-step-button" />
                </div>
                }
                else
                {
                <div class="message-error">
                    <ul>
                        @foreach (var warning in Model.Warnings)
                        {
                            <li>@warning</li>
                        }
                    </ul>
                </div>
                }
                @Html.Widget("checkout_shipping_method_bottom")
            }
        </div>
        <div class="section order-summary">
            <div class="title">
                <strong>@T("Checkout.OrderSummary")</strong>
            </div>
            @Html.Action("OrderSummary", "ShoppingCart")
        </div>
    </div>
</div>
