﻿@model DiscountListModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Promotions.Discounts").Text;
}
@Html.AntiForgeryToken()
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
        @T("Admin.Promotions.Discounts")
    </div>
    <div class="options">
        <a href="@Url.Action("Create")" class="k-button">@T("Admin.Common.AddNew")</a>
    </div>
</div>
<table width="100%">
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.SearchDiscountName):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.SearchDiscountName)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.SearchDiscountCouponCode):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.SearchDiscountCouponCode)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.SearchDiscountTypeId):
        </td>
        <td class="adminData">
            @Html.DropDownList("SearchDiscountTypeId", Model.AvailableDiscountTypes)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="button" id="search-discounts" class="k-button" value="@T("Admin.Common.Search")" />
        </td>
    </tr>
</table>
<table class="adminContent">
    <tr>
        <td>
            <div id="discounts-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#discounts-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("List", "Discount"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)]
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "CouponCode",
                            title: "@T("Admin.Promotions.Discounts.Fields.CouponCode")",
                            width: 350
                        }, {
                            field: "Name",
                            title: "@T("Admin.Promotions.Discounts.Fields.Name")",
                            width: 350
                        }, {
                            field: "DiscountTypeName",
                            title: "@T("Admin.Promotions.Discounts.Fields.DiscountType")",
                            width: 250
                        },{
                            field: "DiscountAmount",
                            title: "@T("Admin.Promotions.Discounts.Fields.Discount")",
                            width: 200,
                            template: '# if(UsePercentage) {# #=DiscountPercentage# % #} else {#  #=DiscountAmount# #=PrimaryStoreCurrencyCode# #} #'
                        }, {
                            field: "StartDateUtc",
                            title: "@T("Admin.Promotions.Discounts.Fields.StartDate")",
                            width: 200,
                            type: "date",
                            format: "{0:G}"
                        }, {
                            field: "EndDateUtc",
                            title: "@T("Admin.Promotions.Discounts.Fields.EndDate")",
                            width: 200,
                            type: "date",
                            format: "{0:G}"
                        }, {
                            field: "TimesUsed",
                            title: "@T("Admin.Promotions.Discounts.Fields.TimesUsed")",
                            width: 200
                        }, {
                            field: "Id",
                            title: "@T("Admin.Common.Edit")",
                            width: 100,
                            template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>'
                        }]
                    });
                });
            </script>

            <script type="text/javascript">

                $(document).ready(function () {

                    $('#search-discounts').click(function () {
                        var grid = $('#discounts-grid').data('kendoGrid');
                        grid.dataSource.page(1); //new search. Set page size to 1
                        //grid.dataSource.read(); we already loaded the grid above using "page" function
                        return false;
                    });
                });

                $("#@Html.FieldIdFor(model => model.SearchDiscountName)").keydown(function (event) {
                    if (event.keyCode == 13) {
                        $("#search-discounts").click();
                        return false;
                    }
                });

                $("#@Html.FieldIdFor(model => model.SearchDiscountCouponCode)").keydown(function (event) {
                    if (event.keyCode == 13) {
                        $("#search-discounts").click();
                        return false;
                    }
                });

                function additionalData() {
                    var data = {
                        SearchDiscountTypeId: $('#@Html.FieldIdFor(model => model.SearchDiscountTypeId)').val(),
                        SearchDiscountCouponCode: $('#@Html.FieldIdFor(model => model.SearchDiscountCouponCode)').val(),
                        SearchDiscountName: $('#@Html.FieldIdFor(model => model.SearchDiscountName)').val()
                    };
                    addAntiForgeryToken(data);
                    return data;
                }

</script>
        </td>
    </tr>
</table>