﻿@model ResetPasswordModel
@using Nop.Web.Models.Customer;
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}
<style type="text/css">
    .ShowStatus {
        color: red;
        font-weight: bold;
    }
    </style>
@using (Html.BeginForm("ResetPasswordEmail", "Customer"))
{
<div class="page account-page change-password-page">
    <div class="page-title">
        <h1>Reset Password</h1>
    </div>
    <div class="page-body">

        <div class="inputs">
            @*@Html.Label("Email:")
            @Html.EditorFor(model => model.Email)*@
            @Html.LabelFor(model => model.Email, new { }, ":")
            @Html.TextBoxFor(model => model.Email, new { @readonly = "true" })
            @*<input type="text" value="@Model" id="Email" readonly="readonly" />*@
        </div>
        <div class="buttons">
            <input type="submit" id="register-button" class="button-1 register-next-step-button" value="Reset Password" name="register-button" />
            <label class="ShowStatus">@Model.Message</label>
        </div>
    </div>
</div>
}
