﻿
.wrapper { 
  border:2px dashed #000;
  padding-top: 2px;
  padding-bottom: 2px;
  /*overflow:hidden;*/
  background: #e5e5e5; 
}

.wrapper div {
   padding: 3px;
   
}
#naso-alert-left {
  float:left; 
  margin-right:20px;
  width:140px;
}

#naso-alert-right {  
  /*overflow:hidden;*/
}

p.large {
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida';
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    font-size:20px;
	color:black;
	}
	
p.small {
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida';
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    font-size:18px;
	color:black;
	}

p a {
	color: #96012b;
	}

.margin {
	margin-top: 23px;
}

.margin {
	margin-top:9px;
}

@media screen and (max-width: 400px) {
    #naso-alert-left {
        float: none;
        margin-right: 0;
        width: auto;
        border: 0;
        min-height: 80px;
    }

    p.large {
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida';
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        font-size: 13px;
		color:black;
    }

    p.small {
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida';
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        font-size: 13px;
		color:black;
    }

    .margin {
        margin-top: 8px;
    }

    .margin2 {
        margin-top: 8px;
    }
}
