﻿@model Nop.Plugin.Misc.Dashboard.Models.ConditionalModel

@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework.Controllers;
@using Nop.Web.Framework.Mvc;
@using Nop.Core.Infrastructure


@using (Html.BeginForm())
{

    @Html.HiddenFor(model => model.Id)
    
    
<table width="100%" style="padding-bottom: 10px;">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.StartDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.StartDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EndDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => Model.EndDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.OrderStatusId):
            </td>
            <td class="adminData">
                @Html.DropDownList("OrderStatusId", Model.AvailableOrderStatuses)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PaymentStatusId):
            </td>
            <td class="adminData">
                @Html.DropDownList("PaymentStatusId", Model.AvailablePaymentStatuses)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.GroupDate):
            </td>
            <td class="adminData">
                @Html.DropDownList("GroupDate", Model.AvailableGroupDates)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" id="btnGenerate" class="k-button" value="@T("Admin.Common.Generate")" />
            </td>
        </tr>
        
</table>

    <div id="dashboard-customer-edit">
        <ul>
            <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
                @T("Admin.Dashboard.Tab.Customer.Customer")
            </li>
            <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
                @T("Admin.Dashboard.Tab.Customer.Product")
            </li>
            <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
                @T("Admin.Dashboard.Tab.Customer.Category")
            </li>
            <li @Html.RenderSelectedTabIndex(3, GetSelectedTabIndex())>
                @T("Admin.Dashboard.Tab.Customer.Manufacturer")
            </li>
        </ul>

        <div>
            @TabCustomer()
        </div>
        <div>
            @TabProduct()
        </div>
        <div>
            @TabCategory()
        </div>
        <div>
            @TabManufacturer()
        </div>
    </div>


     <script>
        $(document).ready(function() {
            $("#dashboard-customer-edit").kendoTabStrip({
                animation:  {
                    open: {
                        effects: "fadeIn"
                    }
                },
                select: tabstrip_on_tab_select,
                activate: onActivate
            });

            function onActivate(e) {
                var i = $(e.item).index();
                if (i == 0) {
                    $('#customers-data-chart').data('kendoChart').refresh();
                }
                if (i == 1) {
                    $('#product-data-chart').data('kendoChart').refresh();
                }
                if (i == 2) {
                    $('#category-data-chart').data('kendoChart').refresh();
                }
                if (i == 3) {
                    $('#manufacturer-data-chart').data('kendoChart').refresh();
                }
            }


        });

    </script>

    {
        //custom tabs
        var eventMessage = new Nop.Web.Framework.Events.AdminTabStripCreated(this.Html, "dashboard-customer-edit");
        Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Services.Events.IEventPublisher>().Publish(eventMessage);
        foreach (var eventBlock in eventMessage.BlocksToRender)
        {
            @eventBlock
        }
    }

    @*save selected tab index*@
    <input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">
    
} 


@helper TabCustomer()
{
    
    
    <div id="customers-data-chart"></div>

        <script>

            $(document).ready(function () {

                function additionalChartDatacustomers() {
                    return {
                        StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                        EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                        OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                        PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                        GroupDate: $('#@Html.FieldIdFor(model => model.GroupDate)').val(),
                    };
                }

                $("#customers-data-chart").kendoChart({
                    chartArea: {
                        height: 300
                    },
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("SalesDataRandom", "DashboardCustomer", new { ControlId = 1, CustomerId = Model.Id }))",
                                dataType: "json",
                                type: "POST",
                                data: additionalChartDatacustomers,
                            }
                        }
                    },
                    title: {
                        text: "@T("Admin.Dashboard.Tab.Customer.Time.TitleChart")"
                    },
                    theme: "@Model.Skin",
                    legend: {
                        visible: false
                    },
                    seriesDefaults: {
                        type: "bar"
                    },
                    series: [{
                        name: "TotalSales",
                        field: "TotalSales",
                        type: "column",
                        stack: true,
                        axis: "sal",
                        tooltip: {
                            visible: true,
                            template: "#: kendo.format('{0:N2}', value) #",
                        }

                    }, {
                        name: "Quantity",
                        field: "Quantity",
                        type: "line",
                        axis: "qty",

                        tooltip: {
                            visible: true,
                            template: "#: value #",
                        }

                    }],
                    valueAxis: [
                    {
                        name: "sal",
                        title:
                            {
                                text: "@T("Admin.Dashboard.Tab.Customer.Title.TotalSales")",
                            },
                        format: '{0:N2}'
                    },
                    {
                        name: "qty",
                        title:
                            {
                                text: "@T("Admin.Dashboard.Tab.Customer.Title.Quantity")",
                            },
                    }]
                    ,
                    categoryAxis: {
                        field: "DimName",
                        visible: false,
                        axisCrossingValues: [0, 100],
                        crosshair: {
                            tooltip: {
                                template: "#: value #",
                                visible: true
                            },
                            visible: true
                        },
                    }
                });
            });
        </script>



    <div id="customers-data-grid"></div>

                <script>
                    $(document).ready(function () {

                        function additionalGridDatacustomers() {
                            return {
                                StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                                EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                                OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                                PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                                GroupDate: $('#@Html.FieldIdFor(model => model.GroupDate)').val(),
                            };
                        }

                        $("#customers-data-grid").kendoGrid({
                            toolbar: ["excel"],
                            excel: {
                                fileName: "Report_Table.xlsx",
                                filterable: true
                            },
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("SalesDataRandom", "DashboardCustomer", new { ControlId = 2, CustomerId = Model.Id }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalGridDatacustomers
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    
                                },
                                requestEnd: function (e) {
                                    if (e.type == "read") {
                                        var response = e.response;
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                        },
                        pageable: {
                                refresh: false,
                                numeric: false,
                                previousNext: false,
                                info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,                        
                        columns: [                            
                            {
                                field: "DimName",
                                title: "@T("Admin.Dashboard.Tab.Customer.Grid.Column.DimName")",
                                width: 200
                            }, {
                                field: "TotalSales",
                                title: "@T("Admin.Dashboard.Tab.Customer.Grid.Column.TotalSales")",
                                format: '{0:N2}',
                                width: 150,
                            }, {
                                field: "Quantity",
                                title: "@T("Admin.Dashboard.Tab.Customer.Grid.Column.Quantity")",
                                width: 200
                            }
                        ]
                    } );
                        });
                </script>
    
}

@helper TabProduct()
{
    
    <div id="product-data-chart"></div>

        <script>

            $(document).ready(function () {

                function additionalChartDataproduct() {
                    return {
                        StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                        EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                        OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                        PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                        GroupDate: $('#@Html.FieldIdFor(model => model.GroupDate)').val(),
                    };
                }

                $("#product-data-chart").kendoChart({
                    chartArea: {
                        height: 300
                    },
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("SalesDataRandom", "DashboardCustomer", new { ControlId = 3, CustomerId = Model.Id }))",
                                dataType: "json",
                                type: "POST",
                                data: additionalChartDataproduct,
                            }
                        }
                    },
                    title: {
                        text: "@T("Admin.Dashboard.Tab.Customer.Product.TitleChart")"
                    },
                    theme: "@Model.Skin",
                    legend: {
                        visible: false
                    },
                    seriesDefaults: {
                        type: "bar"
                    },
                    series: [{
                        name: "TotalSales",
                        field: "TotalSales",
                        type: "column",
                        stack: true,
                        axis: "sal",
                        tooltip: {
                            visible: true,
                            template: "#: kendo.format('{0:N2}', value) #",
                        }

                    }, {
                        name: "Quantity",
                        field: "Quantity",
                        type: "line",
                        axis: "qty",

                        tooltip: {
                            visible: true,
                            template: "#: value #",
                        }

                    }],
                    valueAxis: [
                    {
                        name: "sal",
                        title:
                            {
                                text: "@T("Admin.Dashboard.Tab.Customer.Product.Column.TotalSales")",
                            },
                        format: '{0:N2}'
                    },
                    {
                        name: "qty",
                        title:
                            {
                                text: "@T("Admin.Dashboard.Tab.Customer.Product.Column.Quantity")",
                            },
                    }]
                    ,
                    categoryAxis: {
                        field: "DimName",
                        visible: false,
                        axisCrossingValues: [0, 100],
                        crosshair: {
                            tooltip: {
                                template: "#: value #",
                                visible: true
                            },
                            visible: true
                        },
                    }
                });
            });
        </script>



    <div id="product-data-grid"></div>

                <script>
                    $(document).ready(function () {

                        function additionalGridDataproduct() {
                            return {
                                StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                                EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                                OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                                PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                                GroupDate: $('#@Html.FieldIdFor(model => model.GroupDate)').val(),
                            };
                        }

                        $("#product-data-grid").kendoGrid({
                            toolbar: ["excel"],
                            excel: {
                                fileName: "Report_Table.xlsx",
                                filterable: true
                            },
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("SalesDataRandom", "DashboardCustomer", new { ControlId = 4, CustomerId = Model.Id }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalGridDataproduct
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    
                                },
                                requestEnd: function (e) {
                                    if (e.type == "read") {
                                        var response = e.response;
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                        },
                        pageable: {
                                refresh: false,
                                numeric: false,
                                previousNext: false,
                                info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,                        
                        columns: [                            
                            {
                                field: "DimName",
                                title: "@T("Admin.Dashboard.Tab.Customer.Product.Grid.Column.DimName")",
                                width: 200
                            }, {
                                field: "TotalSales",
                                title: "@T("Admin.Dashboard.Tab.Customer.Product.Grid.Column.TotalSales")",
                                format: '{0:N2}',
                                width: 150,
                            }, {
                                field: "Quantity",
                                title: "@T("Admin.Dashboard.Tab.Customer.Product.Grid.Column.Quantity")",
                                width: 200
                            }
                        ]
                    } );
                        });
                </script>
    
}


@helper TabCategory()
{


    <div id="category-data-chart"></div>

        <script>

            $(document).ready(function () {

                function additionalChartDatacategory() {
                    return {
                        StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                        EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                        OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                        PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                        GroupDate: $('#@Html.FieldIdFor(model => model.GroupDate)').val(),
                    };
                }

                $("#category-data-chart").kendoChart({
                    chartArea: {
                        height: 300
                    },
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("SalesDataRandom", "DashboardCustomer", new { ControlId = 5, CustomerId = Model.Id }))",
                                dataType: "json",
                                type: "POST",
                                data: additionalChartDatacategory,
                            }
                        }
                    },
                    title: {
                        text: "@T("Admin.Dashboard.Tab.Customer.Category.TitleChart")"
                    },
                    theme: "@Model.Skin",
                    legend: {
                        visible: false
                    },
                    seriesDefaults: {
                        type: "bar"
                    },
                    series: [{
                        name: "TotalSales",
                        field: "TotalSales",
                        type: "column",
                        tooltip: {
                            visible: true,
                            template: "#: kendo.format('{0:N2}', value) #",
                        }

                    }],
                    categoryAxis: {
                        field: "DimName",                        
                        visible: false,
                        axisCrossingValues: [0, 100],
                        crosshair: {
                            tooltip: {
                                template: "#: value #",
                                visible: true
                            },
                            visible: true
                        },
                    }
                });
            });
        </script>



    <div id="category-data-grid"></div>

                <script>
                    $(document).ready(function () {

                        function additionalGridDatacategory() {
                            return {
                                StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                                EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                                OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                                PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                                GroupDate: $('#@Html.FieldIdFor(model => model.GroupDate)').val(),
                            };
                        }

                        $("#category-data-grid").kendoGrid({
                            toolbar: ["excel"],
                            excel: {
                                fileName: "Report_Table.xlsx",
                                filterable: true
                            },
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("SalesDataRandom", "DashboardCustomer", new { ControlId = 6, CustomerId = Model.Id }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalGridDatacategory
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    
                                },
                                requestEnd: function (e) {
                                    if (e.type == "read") {
                                        var response = e.response;
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                        },
                        pageable: {
                                refresh: false,
                                numeric: false,
                                previousNext: false,
                                info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,                        
                        columns: [                            
                            {
                                field: "DimName",
                                title: "@T("Admin.Dashboard.Tab.Customer.Category.Grid.Column.DimName")",
                                width: 200
                            }, {
                                field: "TotalSales",
                                title: "@T("Admin.Dashboard.Tab.Customer.Category.Grid.Column.TotalSales")",
                                format: '{0:N2}',
                                width: 150,
                            }
                        ]
                    } );
                        });
                </script>

}

@helper TabManufacturer()
{
    
    
            <div id="manufacturer-data-chart"></div>

        <script>

            $(document).ready(function () {

                function additionalChartDatamanufacturer() {
                    return {
                        StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                        EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                        OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                        PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                        GroupDate: $('#@Html.FieldIdFor(model => model.GroupDate)').val(),
                    };
                }

                $("#manufacturer-data-chart").kendoChart({
                    chartArea: {
                        height: 300
                    },
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("SalesDataRandom", "DashboardCustomer", new { ControlId = 7, CustomerId = Model.Id }))",
                                dataType: "json",
                                type: "POST",
                                data: additionalChartDatamanufacturer,
                            }
                        }
                    },
                    title: {
                        text: "@T("Admin.Dashboard.Tab.Customer.Manufacturer.TitleChart")"
                    },
                    theme: "@Model.Skin",
                    legend: {
                        visible: false
                    },
                    seriesDefaults: {
                        type: "bar"
                    },
                    series: [{
                        name: "TotalSales",
                        field: "TotalSales",
                        type: "column",
                        tooltip: {
                            visible: true,
                            template: "#: kendo.format('{0:N2}', value) #",
                        }

                    }],
                    categoryAxis: {
                        field: "DimName",                        
                        visible: false,
                        axisCrossingValues: [0, 100],
                        crosshair: {
                            tooltip: {
                                template: "#: value #",
                                visible: true
                            },
                            visible: true
                        },
                    }
                });
            });
        </script>


    <div id="manufacturer-data-grid"></div>

                <script>
                    $(document).ready(function () {

                        function additionalGridDatamanufacturer() {
                            return {
                                StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                                EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                                OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                                PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                                GroupDate: $('#@Html.FieldIdFor(model => model.GroupDate)').val(),
                            };
                        }

                        $("#manufacturer-data-grid").kendoGrid({
                            toolbar: ["excel"],
                            excel: {
                                fileName: "Report_Table.xlsx",
                                filterable: true
                            },
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("SalesDataRandom", "DashboardCustomer", new { ControlId = 8, CustomerId = Model.Id }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalGridDatamanufacturer
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    
                                },
                                requestEnd: function (e) {
                                    if (e.type == "read") {
                                        var response = e.response;
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                        },
                        pageable: {
                                refresh: false,
                                numeric: false,
                                previousNext: false,
                                info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,                        
                        columns: [                            
                            {
                                field: "DimName",
                                title: "@T("Admin.Dashboard.Tab.Customer.Manufacturer.Grid.Column.DimName")",
                                width: 200
                            }, {
                                field: "TotalSales",
                                title: "@T("Admin.Dashboard.Tab.Customer.Manufacturer.Grid.Column.TotalSales")",
                                format: '{0:N2}',
                                width: 150,
                            }
                        ]
                    } );
                        });
                </script>

}



<script type="text/javascript">

    $(document).ready(function () {

        $('#btnGenerate').click(function () {
            //Generate

            //customers
            var gridTableCustomers = $('#customers-data-grid').data('kendoGrid');
            gridTableCustomers.dataSource.read();

            var chartTableCustomers = $('#customers-data-chart').data('kendoChart');
            chartTableCustomers.dataSource.read();

            
            //products
            var gridTableProduct = $('#product-data-grid').data('kendoGrid');
            gridTableProduct.dataSource.read();

            var chartTableProduct = $('#product-data-chart').data('kendoChart');
            chartTableProduct.dataSource.read();

            //category
            var gridTableCategory = $('#category-data-grid').data('kendoGrid');
            gridTableCategory.dataSource.read();

            var chartTableCategory = $('#category-data-chart').data('kendoChart');
            chartTableCategory.dataSource.read();

            //manufacturer
            var gridTableManufacturer = $('#manufacturer-data-grid').data('kendoGrid');
            gridTableManufacturer.dataSource.read();

            var chartTableManufacturer = $('#manufacturer-data-chart').data('kendoChart');
            chartTableManufacturer.dataSource.read();

            /*
            //share
            var gridTableshare = $('#share-data-grid').data('kendoGrid');
            gridTableshare.dataSource.read();

            var chartTableshare = $('#share-data-chart').data('kendoChart');
            chartTableshare.dataSource.read();
            */

            return false;
        });


    });



</script>