﻿@model Nop.Plugin.Misc.Dashboard.Models.ConditionalModel

@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework.Controllers;
@using Nop.Web.Framework.Mvc;
@using Nop.Core.Infrastructure


@using (Html.BeginForm())
{

    @Html.HiddenFor(model => model.Id)
    
    
<table width="100%" style="padding-bottom: 10px;">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.StartDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.StartDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EndDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => Model.EndDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.OrderStatusId):
            </td>
            <td class="adminData">
                @Html.DropDownList("OrderStatusId", Model.AvailableOrderStatuses)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PaymentStatusId):
            </td>
            <td class="adminData">
                @Html.DropDownList("PaymentStatusId", Model.AvailablePaymentStatuses)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.GroupDate):
            </td>
            <td class="adminData">
                @Html.DropDownList("GroupDate", Model.AvailableGroupDates)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" id="btnGenerate" class="k-button" value="@T("Admin.Common.Generate")" />
            </td>
        </tr>
        
</table>
    
<div id="dashboard-manufacturer-edit">
        <ul>
            <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
                @T("Admin.Dashboard.Tab.Manufacturer.Time")
            </li>
            <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
                @T("Admin.Dashboard.Tab.Manufacturer.Product")
            </li>
            <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
                @T("Admin.Dashboard.Tab.Manufacturer.ShareCategory")
            </li>
        </ul>

        <div>
            @TabTime()
        </div>
        <div>
            @TabProduct()
        </div>
        <div>
            @TabShare()
        </div>
    </div>


     <script>
        $(document).ready(function() {
            $("#dashboard-manufacturer-edit").kendoTabStrip({
                animation:  {
                    open: {
                        effects: "fadeIn"
                    }
                },
                select: tabstrip_on_tab_select,
                activate: onActivate
            });

            function onActivate(e) {
                var i = $(e.item).index();
                if (i == 0) {
                    $('#manufacturer-data-chart').data('kendoChart').refresh();
                }
                if (i == 1) {
                    $('#products-data-chart').data('kendoChart').refresh();
                }
                if (i == 2) {
                    $('#share-data-chart').data('kendoChart').refresh();
                }
            }
        });

    </script>

    {
        //custom tabs
        var eventMessage = new Nop.Web.Framework.Events.AdminTabStripCreated(this.Html, "dashboard-manufacturer-edit");
        Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Services.Events.IEventPublisher>().Publish(eventMessage);
        foreach (var eventBlock in eventMessage.BlocksToRender)
        {
            @eventBlock
        }
    }

    @*save selected tab index*@
    <input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">
      
    
      
} 


@helper TabTime()
{
    
        <div id="manufacturer-data-chart"></div>

        <script>

            $(document).ready(function () {

                function additionalChartData() {
                    return {
                        StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                        EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                        OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                        PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                        GroupDate: $('#@Html.FieldIdFor(model => model.GroupDate)').val(),
                        };
                        }

                $("#manufacturer-data-chart").kendoChart({
                    chartArea: {
                        height: 300
                    },
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("SalesDataRandom", "DashboardManufacturer", new { ControlId = 1, ManufacturerId = Model.Id }))",
                                dataType: "json",
                                type: "POST",
                                data: additionalChartData,
                            }
                        }
                    },
                    theme: "@Model.Skin",
                    title: {
                        text: "@T("Admin.Dashboard.Tab.Manufacturer.TitleChart")"
                    },
                    legend: {
                        visible: true
                    },
                    seriesDefaults: {
                        type: "area"
                    },
                    series: [{
                        name: "@T("Admin.Dashboard.Tab.Manufacturer.Time.Column.TotalSales")",
                        field: "TotalSales",
                        tooltip: {
                            visible: true,
                            template: "#: kendo.format('{0:N2}', value) #",
                        }
                    }],
                    categoryAxis: {
                        field: "DimName",
                        visible: true,
                        crosshair: {
                            tooltip: {
                                    template: "#: value #",
                                    visible: true
                            },
                            visible: true
                        },
                        }
                });
                });
        </script>


    <div id="manufacturer-data-grid"></div>

                <script>
                    $(document).ready(function () {

                        function additionalGridData() {
                            return {
                                StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                                EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                                OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                                PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                                GroupDate: $('#@Html.FieldIdFor(model => model.GroupDate)').val(),                                
                            };
                        }

                        $("#manufacturer-data-grid").kendoGrid({
                            toolbar: ["excel"],
                            excel: {
                                fileName: "Report_Table.xlsx",
                                filterable: true
                            },
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("SalesDataRandom", "DashboardManufacturer", new { ControlId = 2, ManufacturerId = Model.Id }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalGridData
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    
                                },
                                requestEnd: function (e) {
                                    if (e.type == "read") {
                                        var response = e.response;
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                        },
                        pageable: {
                                refresh: false,
                                numeric: false,
                                previousNext: false,
                                info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,                        
                        columns: [                            
                            {
                                field: "DimName",
                                title: "@T("Admin.Dashboard.Tab.Manufacturer.Grid.Column.DimName")",
                                width: 200
                            }, {
                                field: "TotalSales",
                                title: "@T("Admin.Dashboard.Tab.Product.Grid.Column.TotalSales")",
                                format: '{0:N2}',
                                width: 150,
                            }
                        ]
                    });
                    });
                </script>
}

@helper TabProduct()
{
    
    <div id="products-data-chart"></div>

        <script>

            $(document).ready(function () {

                function additionalChartDataProduct() {
                    return {
                        StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                        EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                        OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                        PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                        GroupDate: $('#@Html.FieldIdFor(model => model.GroupDate)').val(),
                    };
                }

                $("#products-data-chart").kendoChart({
                    chartArea: {
                        height: 300
                    },
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("SalesDataRandom", "DashboardManufacturer", new { ControlId = 3, ManufacturerId = Model.Id }))",
                                dataType: "json",
                                type: "POST",
                                data: additionalChartDataProduct,
                            }
                        }
                    },
                    title: {
                        text: "@T("Admin.Dashboard.Tab.Manufacturer.Product.TitleChart")"
                    },
                    theme: "@Model.Skin",
                    legend: {
                        visible: false
                    },
                    seriesDefaults: {
                        type: "bar"
                    },
                    series: [{
                        name: "TotalSales",
                        field: "TotalSales",
                        type: "column",
                        stack: true,
                        axis: "sal",
                        tooltip: {
                            visible: true,
                            template: "#: kendo.format('{0:N2}', value) #",
                        }

                    }, {
                        name: "Quantity",
                        field: "Quantity",
                        type: "line",
                        axis: "qty",

                        tooltip: {
                            visible: true,
                            template: "#: value #",
                        }

                    }],
                    valueAxis: [
                    {
                        name: "sal",
                        title:
                            {
                                text: "@T("Admin.Dashboard.Tab.Manufacturer.Product.Column.TotalSales")",
                            },
                        format: '{0:N2}'
                    },
                    {
                        name: "qty",
                        title:
                            {
                                text: "@T("Admin.Dashboard.Tab.Manufacturer.Product.Column.Quantity")",
                            },
                    }]
                    ,
                    categoryAxis: {
                        field: "DimName",
                        visible: false,
                        axisCrossingValues: [0, 100],
                        crosshair: {
                            tooltip: {
                                template: "#: value #",
                                visible: true
                            },
                            visible: true
                        },
                    }
                });
            });
        </script>



    <div id="products-data-grid"></div>

                <script>
                    $(document).ready(function () {

                        function additionalGridDataProduct() {
                            return {
                                StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                                EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                                OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                                PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                                GroupDate: $('#@Html.FieldIdFor(model => model.GroupDate)').val(),
                            };
                        }

                        $("#products-data-grid").kendoGrid({
                            toolbar: ["excel"],
                            excel: {
                                fileName: "Report_Table.xlsx",
                                filterable: true
                            },
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("SalesDataRandom", "DashboardManufacturer", new { ControlId = 4, ManufacturerId = Model.Id }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalGridDataProduct
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    
                                },
                                requestEnd: function (e) {
                                    if (e.type == "read") {
                                        var response = e.response;
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                        },
                        pageable: {
                                refresh: false,
                                numeric: false,
                                previousNext: false,
                                info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,                        
                        columns: [                            
                            {
                                field: "DimName",
                                title: "@T("Admin.Dashboard.Tab.Manufacturer.Product.Grid.Column.DimName")",
                                width: 200
                            }, {
                                field: "TotalSales",
                                title: "@T("Admin.Dashboard.Tab.Manufacturer.Product.Grid.Column.TotalSales")",
                                format: '{0:N2}',
                                width: 150,
                            }, {
                                field: "Quantity",
                                title: "@T("Admin.Dashboard.Tab.Manufacturer.Product.Grid.Column.Quantity")",
                                width: 200
                            }
                        ]
                    } );
                        });
                </script>
    
    
}


@helper TabShare()
{
    
    
    <div id="share-data-chart"></div>

        <script>
            
            $(document).ready(function () {

                function additionalChartDataShare() {
                    return {
                        StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                        EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                        OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                        PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                        GroupDate: $('#@Html.FieldIdFor(model => model.GroupDate)').val(),
                    };
                }

                $("#share-data-chart").kendoChart({
                    chartArea: {
                        height: 300
                    },
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("SalesDataRandom", "DashboardManufacturer", new { ControlId = 5, ManufacturerId = Model.Id }))",
                                dataType: "json",
                                type: "POST",
                                data: additionalChartDataShare,
                            }
                        }
                    },
                    title: {
                        text: "@T("Admin.Dashboard.Tab.Manufacturer.Share.TitleChart")"
                    },
                    theme: "@Model.Skin",
                    legend: {
                        position: "bottom",
                        visible: true,
                    },
                    seriesDefaults: {
                        type: "pie",
                        labels: {
                            visible: true,
                            template: "#= category #: #= value#"
                        }
                    },
                    series: [{
                        name: "@T("Admin.Dashboard.Tab.Manufacturer.Share.Grid.Column.TotalSales")",
                        field: "TotalSales",
                        categoryField: "DimName",
                        type: "pie",
                        tooltip: {
                            visible: true,
                            //template: "#: kendo.format('{0:N2}', value) #",
                            template: "${ category } - ${ value }"                           
                        }
                    }],
                    tooltip: {
                        visible: true,
                        template: "${ category } - ${ value }"
                    }
                });
            });
        </script>


    <div id="share-data-grid"></div>

                <script>
                    $(document).ready(function () {
                        function additionalGridDataShare() {
                            return {
                                StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                                EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                                OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                                PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                                GroupDate: $('#@Html.FieldIdFor(model => model.GroupDate)').val(),
                            };
                        }

                        $("#share-data-grid").kendoGrid({
                            toolbar: ["excel"],
                            excel: {
                                fileName: "Report_Table.xlsx",
                                filterable: true
                            },
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("SalesDataRandom", "DashboardManufacturer", new { ControlId = 6, ManufacturerId = Model.Id }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalGridDataShare
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    
                                },
                                requestEnd: function (e) {
                                    if (e.type == "read") {
                                        var response = e.response;
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                        },
                        pageable: {
                                refresh: false,
                                numeric: false,
                                previousNext: false,
                                info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,                        
                        columns: [                            
                            {
                                field: "DimName",
                                title: "@T("Admin.Dashboard.Tab.Manufacturer.Share.Grid.Column.DimName")",
                                width: 200
                            }, {
                                field: "TotalSales",
                                title: "@T("Admin.Dashboard.Tab.Manufacturer.Share.Grid.Column.TotalSales")",
                                format: '{0:N2}',
                                width: 150,
                            }
                        ]
                    } );
                        });
                </script>
    
}

<script type="text/javascript">

    $(document).ready(function () {

        $('#btnGenerate').click(function () {
            //Generate

            //category
            var gridTableManufacturer = $('#manufacturer-data-grid').data('kendoGrid');
            gridTableManufacturer.dataSource.read();

            var chartTableManufacturer = $('#manufacturer-data-chart').data('kendoChart');
            chartTableManufacturer.dataSource.read();

            //products
            
            var gridTableProduct = $('#products-data-grid').data('kendoGrid');
            gridTableProduct.dataSource.read();

            var chartTableProduct = $('#products-data-chart').data('kendoChart');
            chartTableProduct.dataSource.read();

            
            //share
            var gridTableshare = $('#share-data-grid').data('kendoGrid');
            gridTableshare.dataSource.read();

            
            var chartTableshare = $('#share-data-chart').data('kendoChart');
            chartTableshare.dataSource.read();
            

            return false;
        });


    });



</script>