﻿@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    Html.AppendScriptParts("~/Plugins/Misc.Dashboard/Content/js/kendo.all.min.js");
    Html.AppendScriptParts("~/Plugins/Misc.Dashboard/Content/js/pako_deflate.min.js");
    Html.AppendScriptParts("~/Plugins/Misc.Dashboard/Content/js/jszip.min.js");

    Html.AppendCssFileParts("~/Plugins/Misc.Dashboard/Content/styles/kendo.dataviz.min.css");
    Html.AppendCssFileParts("~/Plugins/Misc.Dashboard/Content/styles/kendo.dataviz.default.min.css");

}

@model Nop.Plugin.Misc.Dashboard.Models.ConditionalModel

@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework.Controllers;
@using Nop.Web.Framework.Mvc;
@using Nop.Core.Infrastructure


@using (Html.BeginForm())
{

    @Html.HiddenFor(model => model.Id)


    <table width="100%" style="padding-bottom: 10px;">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.StartDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.StartDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EndDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => Model.EndDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.OrderStatusId):
            </td>
            <td class="adminData">
                @Html.DropDownList("OrderStatusId", Model.AvailableOrderStatuses)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PaymentStatusId):
            </td>
            <td class="adminData">
                @Html.DropDownList("PaymentStatusId", Model.AvailablePaymentStatuses)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.GroupDate):
            </td>
            <td class="adminData">
                @Html.DropDownList("GroupDate", Model.AvailableGroupDates)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" id="btnGenerate" class="k-button" value="@T("Admin.Common.Generate")" />
            </td>
        </tr>

    </table>

    @*
        @(Html.Telerik().TabStrip()
            .ClientEvents(events => events
                                .OnSelect("onSelect")
            )
            .Name("dashboard-orders-edit").Items(x =>
        {
            x.Add().Text(T("Admin.Dashboard.Menu.Orders.Time").Text).Content(TabTime().ToHtmlString()).Selected(true);
            x.Add().Text(T("Admin.Dashboard.Menu.Orders.Shipments").Text).Content(TabShipments().ToHtmlString());
            x.Add().Text(T("Admin.Dashboard.Menu.Orders.Payments").Text).Content(TabPayments().ToHtmlString());

            //generate an event
            Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Services.Events.IEventPublisher>().Publish(new Nop.Web.Framework.Events.AdminTabStripCreated(x, "dashboard-orders-edit"));
        })
        )
    *@

    <div id="dashboard-orders-edit">
        <ul>
            <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
                @T("Admin.Dashboard.Menu.Orders.Time")
            </li>
            <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
                @T("Admin.Dashboard.Menu.Orders.Shipments")
            </li>
            <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
                @T("Admin.Dashboard.Menu.Orders.Payments")
            </li>
        </ul>

        <div>
            @TabTime()
        </div>
        <div>
            @TabShipments()
        </div>
        <div>
            @TabPayments()
        </div>
    </div>


    <script>
        $(document).ready(function () {
            $("#dashboard-orders-edit").kendoTabStrip({
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                },
                //select: tabstrip_on_tab_select
                activate: onActivate
            });
        });
    </script>

    {
        //custom tabs
        var eventMessage = new Nop.Web.Framework.Events.AdminTabStripCreated(this.Html, "dashboard-orders-edit");
        Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Services.Events.IEventPublisher>().Publish(eventMessage);
        foreach (var eventBlock in eventMessage.BlocksToRender)
        {
            @eventBlock
        }
    }

    @*save selected tab index*@
    <input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">




}


@helper TabTime()
{


    <div id="orders-data-chart"></div>

    <script>

        $(document).ready(function () {
            $("#orders-data-chart").kendoChart({
                chartArea: {
                    height: 300
                },
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("SalesDataRandomOrders", "Plugins/Dashboard/Admin/DashboardMenu/", new { ControlId = 1 }))",
                            dataType: "json",
                            type: "POST",
                            data: additionalData,
                        }
                    }
                },
                title: {
                    text: "@T("Admin.Dashboard.Menu.Orders.Time.TitleChart")"
                },
                theme: "@Model.Skin",
                legend: {
                    visible: false
                },
                seriesDefaults: {
                    type: "bar"
                },
                series: [{
                    name: "TotalSales",
                    field: "TotalSales",
                    type: "column",
                    stack: true,
                    axis: "sal",
                    tooltip: {
                        visible: true,
                        template: "#: kendo.format('{0:N2}', value) #",
                    }

                }, {
                    name: "Quantity",
                    field: "Quantity",
                    type: "line",
                    axis: "qty",

                    tooltip: {
                        visible: true,
                        template: "#: value #",
                    }

                }],
                valueAxis: [
                {
                    name: "sal",
                    title:
                        {
                            text: "@T("Admin.Dashboard.Menu.Orders.Time.Title.TotalSales")",
                        },
                    format: '{0:N2}'
                },
                {
                    name: "qty",
                    title:
                        {
                            text: "@T("Admin.Dashboard.Menu.Orders.Time.Title.Quantity")",
                        },
                }]
                ,
                categoryAxis: {
                    field: "DimName",
                    visible: false,
                    axisCrossingValues: [0, 100],
                    crosshair: {
                        tooltip: {
                            template: "#: value #",
                            visible: true
                        },
                        visible: true
                    },
                }
            });
        });
    </script>



    <div id="orders-data-grid"></div>

    <script>
        $(document).ready(function () {
            $("#orders-data-grid").kendoGrid({
                toolbar: ["excel"],
                excel: {
                    fileName: "Report_Table.xlsx",
                    filterable: true
                },
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("SalesDataRandomOrders", "Plugins/Dashboard/Admin/DashboardMenu/", new { ControlId = 2 }))",
                            type: "POST",
                            dataType: "json",
                            data: additionalData
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors",

                    },
                    requestEnd: function (e) {
                        if (e.type == "read") {
                            var response = e.response;
                        }
                    },
                    error: function (e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: false,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                columns: [
                    {
                        field: "DimName",
                        title: "@T("Admin.Dashboard.Menu.Orders.Time.Grid.Column.DimName")",
                        width: 200
                    }, {
                        field: "TotalSales",
                        title: "@T("Admin.Dashboard.Menu.Orders.Time.Column.TotalSales")",
                        format: '{0:N2}',
                        width: 150,
                    }, {
                        field: "Quantity",
                        title: "@T("Admin.Dashboard.Menu.Orders.Time.Grid.Column.Quantity")",
                        width: 200
                    }
                ]
            });
        });
    </script>
}



@helper TabShipments()
{

    <div id="shipment-data-chart"></div>

    <script>

        $(document).ready(function () {
            $("#shipment-data-chart").kendoChart({
                chartArea: {
                    height: 300
                },
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("SalesDataRandomOrders", "Plugins/Dashboard/Admin/DashboardMenu/", new { ControlId = 3 }))",
                            dataType: "json",
                            type: "POST",
                            data: additionalData,
                        }
                    }
                },
                title: {
                    text: "@T("Admin.Dashboard.Menu.Customers.Shipments.TitleChart")"
                },
                theme: "@Model.Skin",
                legend: {
                    position: "bottom",
                    visible: true,
                },
                seriesDefaults: {
                    type: "pie",
                    labels: {
                        visible: true,
                        template: "#= category #: #= value#"
                    }
                },
                series: [{
                    name: "@T("Admin.Dashboard.Menu.Customers.Gender.Column.TotalSales")",
                    field: "TotalSales",
                    categoryField: "DimName",
                    type: "pie",
                    tooltip: {
                        visible: true,
                        //template: "#: kendo.format('{0:N2}', value) #",
                        template: "${ category } - ${ value }"
                    }
                }],
                tooltip: {
                    visible: true,
                    template: "${ category } - ${ value }"
                }
            });
        });
    </script>


    <div id="shipment-data-grid"></div>

    <script>
        $(document).ready(function () {
            $("#shipment-data-grid").kendoGrid({
                toolbar: ["excel"],
                excel: {
                    fileName: "Report_Table.xlsx",
                    filterable: true
                },
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("SalesDataRandomOrders", "Plugins/Dashboard/Admin/DashboardMenu/", new { ControlId = 4 }))",
                            type: "POST",
                            dataType: "json",
                            data: additionalData
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors",

                    },
                    requestEnd: function (e) {
                        if (e.type == "read") {
                            var response = e.response;
                        }
                    },
                    error: function (e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: false,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                columns: [
                    {
                        field: "DimName",
                        title: "@T("Admin.Dashboard.Menu.Orders.Shipment.Grid.Column.DimName")",
                        width: 200
                    }, {
                        field: "TotalSales",
                        title: "@T("Admin.Dashboard.Menu.Orders.Shipment.Grid.Column.TotalSales")",
                        format: '{0:N2}',
                        width: 150,
                    }, {
                        field: "Quantity",
                        title: "@T("Admin.Dashboard.Menu.Orders.Shipment.Grid.Column.Quantity")",
                        width: 200
                    }
                ]
            });
        });
    </script>


}





@helper TabPayments()
{


    <div id="payment-data-chart"></div>

    <script>

        $(document).ready(function () {
            $("#payment-data-chart").kendoChart({
                chartArea: {
                    height: 300
                },
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("SalesDataRandomOrders", "Plugins/Dashboard/Admin/DashboardMenu/", new { ControlId = 5 }))",
                            dataType: "json",
                            type: "POST",
                            data: additionalData,
                        }
                    }
                },
                title: {
                    text: "@T("Admin.Dashboard.Menu.Orders.Payment.TitleChart")"
                },
                theme: "@Model.Skin",
                legend: {
                    position: "bottom",
                    visible: true,
                },
                seriesDefaults: {
                    type: "pie",
                    labels: {
                        visible: true,
                        template: "#= category #: #= value#"
                    }
                },
                series: [{
                    name: "@T("Admin.Dashboard.Menu.Order.Payment.Title.TotalSales")",
                    field: "TotalSales",
                    categoryField: "DimName",
                    type: "pie",
                    tooltip: {
                        visible: true,
                        //template: "#: kendo.format('{0:N2}', value) #",
                        template: "${ category } - ${ value }"
                    }
                }],
                tooltip: {
                    visible: true,
                    template: "${ category } - ${ value }"
                }
            });
        });
    </script>


    <div id="payment-data-grid"></div>

    <script>
        $(document).ready(function () {
            $("#payment-data-grid").kendoGrid({
                toolbar: ["excel"],
                excel: {
                    fileName: "Report_Table.xlsx",
                    filterable: true
                },
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("SalesDataRandomOrders", "Plugins/Dashboard/Admin/DashboardMenu/", new { ControlId = 6 }))",
                            type: "POST",
                            dataType: "json",
                            data: additionalData
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors",

                    },
                    requestEnd: function (e) {
                        if (e.type == "read") {
                            var response = e.response;
                        }
                    },
                    error: function (e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: false,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                columns: [
                    {
                        field: "DimName",
                        title: "@T("Admin.Dashboard.Menu.Order.Payment.Grid.Column.DimName")",
                        width: 200
                    }, {
                        field: "TotalSales",
                        title: "@T("Admin.Dashboard.Menu.Order.Payment.Grid.Column.TotalSales")",
                        format: '{0:N2}',
                        width: 150,
                    }, {
                        field: "Quantity",
                        title: "@T("Admin.Dashboard.Menu.Orders.Payment.Grid.Column.Quantity")",
                        width: 200
                    }
                ]
            });
        });
    </script>
}

<script type="text/javascript">
    function onActivate(e) {
        var i = $(e.item).index();
        if (i == 0) {
            $('#orders-data-chart').data('kendoChart').refresh();
        }
        if (i == 1) {
            $('#shipment-data-chart').data('kendoChart').refresh();
        }
        if (i == 2) {
            $('#payment-data-chart').data('kendoChart').refresh();
        }

    }


    $(document).ready(function () {

        $('#btnGenerate').click(function () {
            //Generate
            var gridTableOrders = $('#orders-data-grid').data('kendoGrid');
            gridTableOrders.dataSource.read();

            var chartTableOrders = $('#orders-data-chart').data('kendoChart');
            chartTableOrders.dataSource.read();


            var gridTableshipment = $('#shipment-data-grid').data('kendoGrid');
            gridTableshipment.dataSource.read();

            var chartTableshipment = $('#shipment-data-chart').data('kendoChart');
            chartTableshipment.dataSource.read();


            var gridTablepayment = $('#payment-data-grid').data('kendoGrid');
            gridTablepayment.dataSource.read();

            var chartTablepayment = $('#payment-data-chart').data('kendoChart');
            chartTablepayment.dataSource.read();

            return false;
        });

    });

    function additionalData() {
        return {
            StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
            EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
            OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
            PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
            GroupDate: $('#@Html.FieldIdFor(model => model.GroupDate)').val(),
        };
    }

</script>