﻿@{   
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";

    Html.AppendScriptParts("~/Plugins/Misc.Dashboard/Content/js/kendo.all.min.js");
    Html.AppendScriptParts("~/Plugins/Misc.Dashboard/Content/js/pako_deflate.min.js");
    Html.AppendScriptParts("~/Plugins/Misc.Dashboard/Content/js/jszip.min.js");
    Html.AppendCssFileParts("~/Plugins/Misc.Dashboard/Content/styles/kendo.dataviz.min.css");
    Html.AppendCssFileParts("~/Plugins/Misc.Dashboard/Content/styles/kendo.dataviz.default.min.css");
    
}

@model Nop.Plugin.Misc.Dashboard.Models.ConditionalModel

@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework.Controllers;
@using Nop.Web.Framework.Mvc;
@using Nop.Core.Infrastructure


@using (Html.BeginForm())
{

    @Html.HiddenFor(model => model.Id)
    
    
<table width="100%" style="padding-bottom: 10px;">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.StartDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.StartDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EndDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => Model.EndDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.OrderStatusId):
            </td>
            <td class="adminData">
                @Html.DropDownList("OrderStatusId", Model.AvailableOrderStatuses)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PaymentStatusId):
            </td>
            <td class="adminData">
                @Html.DropDownList("PaymentStatusId", Model.AvailablePaymentStatuses)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" id="btnGenerate" class="k-button" value="@T("Admin.Common.Generate")" />
                <input type="submit" id="btnExport" class="k-button" value="@T("Admin.Common.ExportExcel")" />            
            </td>
        </tr>
        
</table>
    
        <div id="product-data-grid"></div>

    <script>



    $(document).ready(function () {
        
        $("#product-data-grid").kendoGrid({
            toolbar: ["pdf", "excel"],
            pdf: {
                allPages: true,
                fileName: "Report_Table.pdf",
            },
            excel: {
                fileName: "Report_Table.xlsx",
                filterable: true
            },
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("SalesDataRandomTable", "Plugins/Dashboard/Admin/DashboardMenu/"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        fields: {
                            ProductName: { type: "string" },
                            SKU: { type: "string" },
                            Quantity: { type: "number" },
                            UnitPriceExclTax: { type: "number" },
                            LineTotalExclTax: { type: "number" },
                            EmailCustomer: { type: "string" },
                            PaymentMethod: { type: "string" },
                            ShippingMethod: { type: "string" },
                            Billing_Country: { type: "string" },
                            Billing_City: { type: "string" },
                            Attributes: { type: "string" },
                            Year: { type: "string" },
                            Month: { type: "string" },
                            OrderId: { type:"number"},
                        },
                        //groups: 'Groups',
                        //aggregates: 'Aggregates',
                    },
                    group: [{
                        field: "EmailCustomer", aggregates: [
                            { field: "EmailCustomer", aggregate: "count" },
                            { field: "LineTotalExclTax", aggregate: "min" },
                            { field: "LineTotalExclTax", aggregate: "max" },
                            { field: "LineTotalExclTax", aggregate: "average" },
                            { field: "LineTotalExclTax", aggregate: "sum" }
                        ]
                    }],
                    error: function (e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                },
                requestEnd: function (e) {
                    if (e.type == "read") {
                        var response = e.response;
                        if (response) {
                            //store extra data
                            reportAggregates = e.response["ExtraData"];
                        }
                    }
                }, 
                },
                dataBound: onDataBound,
                //filterable:true,
                sortable: {
                    mode: 'multiple'
                },
                columnMenu: true,
                groupable: true,
                columns: [
                    {
                        field: "OrderId",
                        title: "@T("Admin.Dashboard.Menu.Table.OrderId")",  
                        hidden: true,
                    },
                    {
                        field: "ProductName",
                        title: "@T("Admin.Dashboard.Menu.Table.ProductName")",  

                    },
                    {
                        field: "SKU",
                        title: "@T("Admin.Dashboard.Menu.Table.SKU")",  
                        hidden: true,
                    },
                    {
                        field: "Attributes",
                        title: "@T("Admin.Dashboard.Menu.Table.Attributes")",  
                        hidden: true,
                    },
                    {
                        field: "EmailCustomer",
                        title: "@T("Admin.Dashboard.Menu.Table.Customer")",  
                    },
                    {
                        field: "PaymentMethod",
                        title: "@T("Admin.Dashboard.Menu.Table.PaymentMethod")",  
                    },
                    {
                        field: "ShippingMethod",
                        title: "@T("Admin.Dashboard.Menu.Table.ShippingMethod")",  
                    },
                    {
                        field: "Billing_Country",
                        title: "@T("Admin.Dashboard.Menu.Table.Billing_Country")",  
                        hidden: true,
                    },
                    {
                        field: "Billing_City",
                        title: "@T("Admin.Dashboard.Menu.Table.Billing_City")",  
                        hidden: true,
                    },
                    {
                        field: "Year",
                        title: "@T("Admin.Dashboard.Menu.Table.Year")",  
                    },
                    {
                        field: "Month",
                        title: "@T("Admin.Dashboard.Menu.Table.Month")",  
                    },
                    {
                        field: "Quantity",
                        title: "@T("Admin.Dashboard.Menu.Table.Quantity")",
                        aggregates: ["sum"],
                        width:"80px",
                        groupFooterTemplate: "Sum: #= kendo.toString(sum, '0.00') #",
                        footerTemplate: "Sum: <span id=\"aggregator-qtySum\"></span>",
                        groupHeaderTemplate: "Sum: #= kendo.toString(sum, '0.00') #",

                    },
                    {
                        field: "UnitPriceExclTax",
                        title: "@T("Admin.Dashboard.Menu.Table.UnitPriceExclTax")",
                        format: '{0:N2}',
                        width: "120px",
                        aggregates: ["min", "max", "average"],
                        groupFooterTemplate: "Min: #= kendo.toString(min, '0.00') #<br>Max: #= kendo.toString(max, '0.00') #<br>Avg: #= kendo.toString(average, '0.00') #", 
                        //groupFooterTemplate: "Min:  #= kendo.toString(min, '0.00') # Max: #= kendo.toString(max, '0.00')  # <div> Average #= kendo.toString(average, '0.00') # </div>"
                    },
                    {
                        field: "LineTotalExclTax",
                        title: "@T("Admin.Dashboard.Menu.Table.LineTotalExclTax")",
                        format: '{0:N2}',
                        width: "120px",
                        aggregates: ["sum"],
                        groupFooterTemplate: "Sum: #= kendo.toString(sum, '0.00') #",
                        footerTemplate: "Sum: <span id=\"aggregator-linetotalSum\"></span>",
                        groupHeaderTemplate: "Sum: #= kendo.toString(sum, '0.00') #",
                        //footerTemplate: "Sum Linetotal: #= kendo.toString(sum, '0.00') #",
                    }
                ]
            });
    });
</script>

    
    
}


<script type="text/javascript">

    var reportAggregates = "";
    $(document).ready(function () {

        $('#btnGenerate').click(function () {
            //Generate 
            //var gridTablepayment = $('#payment-data-grid').data('kendoGrid');
            //gridTablepayment.dataSource.read();

            //var gridTableshipping = $('#shipping-data-grid').data('kendoGrid');
            //gridTableshipping.dataSource.read();

            var gridTableproduct = $('#product-data-grid').data('kendoGrid');
            gridTableproduct.dataSource.read();

            //var gridTablecustomer = $('#customer-data-grid').data('kendoGrid');
            //gridTablecustomer.dataSource.read();

            return false;
        });

    });

        function additionalData() {
            return {
                StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),                
                OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val()
            };
        }
    function onDataBound(e) {
        //update order totals summary
        if (reportAggregates != "") {
            for (var key in reportAggregates) {
                $('#aggregator-linetotalSum').text(reportAggregates['SumTotal']);
                $('#aggregator-qtySum').text(reportAggregates['SumQuantity']);
            }
        }
    }



</script>
