﻿@model string

@{
    var webHelper = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.IWebHelper>();
}

<script type="text/javascript">
    $(document).ready(function () {
        var resetSettingsButton = $('.reset-default-settings-button');

        $('.section-header .options').prepend(resetSettingsButton);
        resetSettingsButton.fadeIn();

        resetSettingsButton.on('click', function (e) {
            e.preventDefault();
            var window = $('#reset-default-settings-confirmation');
            if (!window.data('kendoWindow')) {
                window.kendoWindow({
                    modal: true,
                    title: '@T("SevenSpikes.Plugins.Admin.ResetDefaultSettings.ConfirmPopupTitle")',
                    actions: ['Close']
                });
            }
            window.data('kendoWindow').center().open();
        });

        $('#reset-default-settings-confirmation .form-actions .cancel').on('click', function (e) {
            e.preventDefault();

            $('#reset-default-settings-confirmation').data('kendoWindow').close();
        });
    });
</script>

<div id="reset-default-settings-confirmation" style="display: none;">
    <div>
        <p>
            @if (Model.ToLowerInvariant().StartsWith("sevenspikes.theme"))
            {
                @T("SevenSpikes.Plugins.Admin.ResetDefaultSettings.MessageForThemes")
            }
            else
            {
                @T("SevenSpikes.Plugins.Admin.ResetDefaultSettings.MessageForPlugins")
            }
        </p>

        <div class="form-actions">
            <span class="cancel k-button">@T("SevenSpikes.Plugins.Admin.ResetDefaultSettings.Cancel")</span>
            <a class="proceed k-button" href="@webHelper.ModifyQueryString(Url.Action("ResetDefaultSettings", "NopCoreAdmin"), "pluginFolderName=" + Model + "&returnUrl=" + HttpUtility.UrlEncode(HttpContext.Current.Request.RawUrl), null)">@T("SevenSpikes.Plugins.Admin.ResetDefaultSettings")</a>
        </div>
    </div>
</div>

<span class="reset-default-settings-button k-button" style="display: none;">@T("SevenSpikes.Plugins.Admin.ResetDefaultSettings")</span>