﻿@model ProductDetailsModel
@using System.Globalization
@using Nop.Web.Models.Catalog;
    <div>
        <a href="@Url.Action("ViewDigitalVersionOfProduct", "Product", new { productId=Model.Id })" ><span>View Digital Version Of Product</span></a>
    </div>
