﻿@model ReturnRequestModel
@using Nop.Core.Domain.Orders;
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.OrderId)
@Html.HiddenFor(model => model.ProductId)
@Html.HiddenFor(model => model.ReturnStatus)
<script type="text/javascript">
    $(document).ready(function() {
        var status = ('@Model.ReturnStatus');
        if (status == 10) {
            $('#ReturnRequestStatusId option[value=10]').attr("disabled", "disabled");
        }
        else if (status == 40 || status == 70) {
            $('#ReturnRequestStatusId option[value=10]').attr("disabled", "disabled");
            $('#ReturnRequestStatusId option[value=40]').attr("disabled", "disabled");
            $('#ReturnRequestStatusId option[value=70]').attr("disabled", "disabled");
        }
    });
</script>
<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Id):
        </td>
        <td class="adminData">
            @Model.Id
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.OrderId):
        </td>
        <td class="adminData">
            @Html.ActionLink(T("Admin.Common.View").Text, "Edit", "Order", new { id = Model.OrderId }, new { })
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.CustomerId):
        </td>
        <td class="adminData">
            @Html.ActionLink(Model.CustomerInfo, "Edit", "Customer", new { id = Model.CustomerId }, new { })
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.ProductName):
        </td>
        <td class="adminData">
            @Html.ActionLink(Model.ProductName, "Edit", "Product", new { id = Model.ProductId }, new { })
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Quantity):
        </td>
        <td class="adminData">
            @Html.TextBoxFor(model => model.Quantity, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Quantity)
        </td>
    </tr>
    <tr>
        
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.ReturnRequestStatusId):
        </td>
        <td class="adminData">
          
            @Html.DropDownListFor(model => model.ReturnRequestStatusId, ((ReturnRequestStatus)Model.ReturnRequestStatusId).ToSelectList())
         
            @Html.ValidationMessageFor(model => model.ReturnRequestStatusId)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.ReasonForReturn):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.ReasonForReturn)
            @Html.ValidationMessageFor(model => model.ReasonForReturn)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.RequestedAction):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.RequestedAction)
            @Html.ValidationMessageFor(model => model.RequestedAction)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.CustomerComments):
        </td>
        <td class="adminData">
            @Html.TextAreaFor(model => model.CustomerComments, new { style = "Width: 500px; Height: 150px;" })
            @Html.ValidationMessageFor(model => model.CustomerComments)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.StaffNotes):
        </td>
        <td class="adminData">
            @Html.TextAreaFor(model => model.StaffNotes, new { style = "Width: 500px; Height: 150px;" })
            @Html.ValidationMessageFor(model => model.StaffNotes)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.CreatedOn):
        </td>
        <td class="adminData">
            @Html.DisplayFor(model => model.CreatedOn)
        </td>
    </tr>
</table>
