﻿@model ReturnRequestModel
@{
    //page title
    ViewBag.Title = T("Admin.ReturnRequests.EditReturnRequestDetails").Text;
}


@using (Html.BeginForm())
{
    @*Added by Prachi on 21 March, 2016 - Add confirm dialog *@
    <script type="text/javascript">
        function AlertMsg() {
            if ($("#ReturnRequestStatusId").val() == 10) {
                return confirm('@T("Admin.Common.AreYouSure")');
            }
        }
    </script>
    
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-sales.png")" alt="" />
            @T("Admin.ReturnRequests.EditReturnRequestDetails") @Html.ActionLink("(" + T("Admin.ReturnRequests.BackToList") + ")", "List")
        </div>
        <div class="options">
            <input type="submit" name="notify-customer" class="k-button" value="@T("Admin.ReturnRequests.NotifyCustomer")" />
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" onclick="return AlertMsg()" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" onclick="return AlertMsg()" />
            <span id="returnrequest-delete" class="k-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("returnrequest-delete")