﻿@model IssuesByPubcode
@using Nop.Web.Models.IssuesByPubcodes
@using Nop.Core.Domain.Orders
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    string addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
}

@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Info })
}
<div class="product-grid home-page-product-grid">
    <div class="page-title">
        <h1>My Digital Publications</h1>
    </div>
    <div class="page-body">
        @if (Model.issueList.Count > 0)
        {
            <div class="item-grid">

                @foreach (var item in Model.issueList)
                {
                    @*<a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">
                            <img src="@item.ImageUrl" />
                            <span><label>@item.IssueDate</label></span>
                        </a>

                        var dataDictAddToCart = new ViewDataDictionary();
                        dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", item.ProductID);
                        // @Html.Partial("_AddToCart", Model.AddToCart, dataDictAddToCart)*@
                    addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.ProductID, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
                    var addToCartText = T("ShoppingCart.AddToCart").Text;
                    <div class="item-box">
                        <div class="product-item" data-productid="@item.ProductID" style="position:relative">
                            <div class="picture">
                                <a title="@item.ProductName" target="_blank" href="@Url.RouteUrl("Default", new RouteValueDictionary(new { action = "ViewDigitalVersionOfProduct", controller = "IssuesByPubcode", orderID = item.OrderID }))">
                                    <img alt="@item.ProductName" src="@item.ImageUrl" title="@item.ProductName" />
                                </a>
                            </div>
                            <div class="details">
                                <h2 class="product-title">
                                    <a class="go-to-page" target="_blank" href="@Url.RouteUrl("Default", new RouteValueDictionary(new { action = "ViewDigitalVersionOfProduct", controller = "IssuesByPubcode", orderID = item.OrderID }))">
                                    @item.ProductName</a>
                                </h2>
                                <span>@item.OrderedIssueDate</span>
                            </div>
                            <div class="buttons">

                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="no-data">
                No Issues Available.
            </div>
        }
    </div>
</div>
