﻿@model IssuesByPubcode
@using Nop.Web.Models.IssuesByPubcodes
@using Nop.Core.Domain.Orders
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}

@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Info })
}

<div class="product-grid home-page-product-grid">
    <div class="page-title">
        <h1>Product Issues</h1>
    </div>
    <div class="page-body">
        @using (Html.BeginForm())
        {
            <table style="width:100%">
                <tr>
                    <td>
                        <span>Publication Code</span>
                    </td>
                    <td>

                        <select id="pubCode" style="width:80%">
                            <option value="">All</option>
                            @foreach (var item in Model.pubCodeList)
                            {
                                <option value="@item.PublicationCode">@item.PubShortDesc</option>
                            }
                        </select>
                    </td>

                    <td>
                        <span>Publication Year</span>
                    </td>
                    <td>
                        <select id="pubYear" style="width:60%">
                            <option value="">All</option>
                            @foreach (var year in Model.IssueYear)
                            {
                                <option value="@year">@year</option>
                            }
                        </select>
                    </td>

                    <td>
                        <span>Publication Month</span>
                    </td>
                    <td>
                        <select id="pubMonth" style="width:60%">
                            <option value="">All</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
            </table>

            <div class="item-grid">
                @Html.Partial("_FilteredIssues", Model)
            </div>
        }
    </div>
</div>

<script type="text/javascript">

    var pubCode = "";
    var year = 0;
    var month = 0;

    $(document).ready(function () {
        $('#pubCode').change(function () {
            pubCode = $(this).val();
            filterIssues();
        });

        $('#pubYear').change(function () {
            year = $(this).val();
            filterIssues();
        });

        $('#pubMonth').change(function () {
            month = $(this).val();
            filterIssues();
        });
    });

    function filterIssues()
    {
        var data="{ 'publicationCode': '"+pubCode+"', 'year': '"+year+"', 'month':'"+month+"' }";
        var dataResult="";
        
        $.ajax({
            url: "/IssuesByPubcode/FilteredIssuesByPubcode",
            data: data,
            cache: false,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "text ",

            success: function (dataResult) {
                //alert("success:"+JSON.stringify(dataResult));
                $(".item-grid").html(dataResult);
            },
            error: function(dataResult)
            {
                alert("error:"+JSON.stringify(dataResult));
            }
        });
    }

</script>

