﻿@** Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*@

@model Nop.Web.Models.Catalog.ProductDetailsModel.AddToCartModel
<script type="text/javascript">

        function ButtonClick() {
            var length = 0;
            if ($("input[name*='product_attribute']").length > 0) {
                if ($("input[name*='product_attribute']:disabled").length > 0) {
                    return true;
                }
                else {
                    $("input[name*='product_attribute']").each(function () {
                        if ($(this).is(":checked"))
                            length = length + 1;
                    });
                    if (length < 5) {
                        alert("Please select minimum 5 products to proceed.");
                        return false;
                    }
                    else
                        return true;
                }
            }
            else
                return true;
        }
        $("#add-to-cart-button-@Model.ProductId").click(function (e) {
            if (!ButtonClick()) {
                e.preventDefault();
                return false;
            }
            else {
                return true;
            }
        });
		
    </script>
<div class="add-to-cart">
    @if (!Model.DisableBuyButton) 
    { 
        @Html.LabelFor(model => model.EnteredQuantity, new { @class = "qty-label" }, ":")

        if (Model.AllowedQuantities.Count > 0)
        {
            @Html.DropDownListFor(model => model.EnteredQuantity, Model.AllowedQuantities, new { @class = "qty-dropdown" })
        }
        else
        {
            @Html.TextBoxFor(model => model.EnteredQuantity, new { @class = "qty-input" })

            //when a customer clicks 'Enter' button we submit the "add to cart" button (if visible)
            if (!Model.DisableBuyButton)
            {
                <script type="text/javascript">
                        $(document).ready(function() {
                            $("#@Html.FieldIdFor(model => model.EnteredQuantity)").keydown(function(event) {
                                     if (event.keyCode == 13) {
                                         $("#add-to-cart-button-@Model.ProductId").click();
                                         return false;
                                     }
                                 });
                             });
                </script>
            }
        }
        
        @Html.Action("GetMiniProductDetailsViewAddProductToCartAjaxButton", "NopAjaxCart", Model)
    }
</div>
@if (Model.CustomerEntersPrice)
{
    <div class="customer-entered-price">
        <div class="price-input">
            @Html.LabelFor(model => model.CustomerEnteredPrice, new { @class = "enter-price-label" }, ":")
            @*round price*@
            @Html.TextBox("CustomerEnteredPrice", Convert.ToInt32(Math.Ceiling(Model.CustomerEnteredPrice)), new { @class = "enter-price-input" })
        </div>
    </div>
    <div class="price-range">
        @Model.CustomerEnteredPriceRange
    </div>
}