﻿@** Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*@

@model Nop.Web.Models.Catalog.ProductDetailsModel.AddToCartModel
@if (Model.CustomerEntersPrice)
{
    <div class="customer-entered-price">
        <div class="price-input">
            @Html.LabelFor(model => model.CustomerEnteredPrice, new { @class = "enter-price-label" }, ":")
            @*round price*@
            @Html.TextBox("CustomerEnteredPrice", Convert.ToInt32(Math.Ceiling(Model.CustomerEnteredPrice)), new { @class = "enter-price-input" })
        </div>
        <div class="price-range">
            @Model.CustomerEnteredPriceRange
        </div>
    </div>
}

<div class="add-to-cart">
    @if (!Model.DisableBuyButton) 
    { 
        @Html.LabelFor(model => model.EnteredQuantity, new { @class = "qty-label" }, ":")

        if (Model.AllowedQuantities.Count > 0)
        {
            @Html.DropDownListFor(model => model.EnteredQuantity, Model.AllowedQuantities, new { @class = "qty-dropdown" })
        }
        else
        {
            @Html.TextBoxFor(model => model.EnteredQuantity, new { @class = "qty-input" })

            //when a customer clicks 'Enter' button we submit the "add to cart" button (if visible)
            if (!Model.DisableBuyButton)
            {
                <script type="text/javascript">
                        $(document).ready(function() {
                            $("#@Html.FieldIdFor(model => model.EnteredQuantity)").keydown(function(event) {
                                     if (event.keyCode == 13) {
                                         $("#add-to-cart-button-@Model.ProductId").click();
                                         return false;
                                     }
                                 });
                             });
                </script>
            }
        }
        
        @Html.Action("GetMiniProductDetailsViewAddProductToCartAjaxButton", "NopAjaxCart", Model)
    }
</div>