﻿@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart;
@{
    var webHelper = EngineContext.Current.Resolve<IWebHelper>();
}

<div class="order-summary-content">
    @*Added by Faisal on 11 Dec, 2015*@
    <script type="text/javascript">
    function changeHdn(wareHouseId, productId) {
        $("#hdnWarehouse_" + productId).val(wareHouseId);
    }

    $(document).ready(function () {
        //$('.price-input').keypress(function (event) {
        //    return isNumber(event, this)
        //});
        $('.price-input').keyup(function (event) {
            return myFunc(this)
        });
    });

    function myFunc(id) {
        var val = $(id).val();
        var re = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)$/g;
        var re1 = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)/g;
        if (re.test(val)) {
            //do something here
        } else {
            val = re1.exec(val);
            if (val) {
                $(id).val(val[0]);
            } else {
                $(id).val("");
            }
        }
    }

    @*Changs by Prachi on 23 Feb, 2016 - ajax call to get the tiered price of product being edited *@
        function getTierPrice(ProductId, Quantity, Id) {
            if ('@ViewBag.IsImpersonated' == "Y") {
                $.ajax({
                    async: true,
                    url: "../ShoppingCart/GetTierPriceOfProduct",
                    type: "GET",
                    data: { productId: ProductId, quantity: Quantity },
                    success: function (data) {
                        if (parseFloat(data) > 0) {
                            //alert(parseFloat(data));
                            $('input[name=itemprice' + Id + ']').val(parseFloat(data));
                        }
                    }
                });
            }
        }

    </script>
    @*End 11 DEc, 2015*@

    @Html.Widget("order_summary_content_before")
    @Html.Partial("_OrderReviewData", Model.OrderReviewData)
    @if (Model.Items.Count > 0)
    {
        if (Model.Warnings.Count > 0)
        {
            <div class="message-error">
                <ul>
                    @foreach (var warning in Model.Warnings)
                    {
                        <li>@warning</li>
                    }
                </ul>
            </div>
        }
        @*we add enctype = "multipart/form-data" because "File upload" attribute control type requires it*@
        using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="table-wrapper">
                <table class="cart">
                    <colgroup>
                        <col width="1" />
                        @if (Model.IsEditable)
                        {
                            <col width="1" />
                        }
                        @if (Model.ShowSku)
                        {
                            <col width="1" />
                        }
                        @if (Model.ShowProductImages)
                        {
                            <col width="1" />
                        }
                        <col />
                        <col width="1" />
                        <col width="1" />
                        <col width="1" />
                    </colgroup>
                    <thead>
                        <tr class="cart-header-row">
                            <th><span class="item-count">#</span></th>
                            @if (Model.IsEditable)
                            {
                                <th class="remove-from-cart" data-hide="w410, w480">
                                    @T("ShoppingCart.Remove")
                                </th>
                            }
                            @if (Model.ShowSku)
                            {
                                <th class="sku" data-hide="w410, w480">
                                    @T("ShoppingCart.SKU")
                                </th>
                            }
                            @if (Model.ShowProductImages)
                            {
                                <th class="product-picture">
                                    @T("ShoppingCart.Image")
                                </th>
                            }
                            <th class="product" data-hide="w410, w480, w580, w768">
                                @T("ShoppingCart.Product(s)")
                            </th>
                            @*Added By Faisal on 11 Dec, 2015*@
                            @if (@ViewBag.IsImpersonated == "Y")
                            {
                                <th class="product" data-hide="w410, w480">
                                    Warehouse(s)
                                </th>
                            }
                            @*End 11 Dec, 2015*@
                            <th class="unit-price" data-hide="w410, w480">
                                @T("ShoppingCart.UnitPrice")
                            </th>
                            <th class="quantity">
                                @T("ShoppingCart.Quantity")
                            </th>
                            <th class="subtotal">
                                @T("ShoppingCart.ItemTotal")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{var counter = 0;}
                        @foreach (var item in Model.Items)
                        {
                            counter++;
                            <tr class="cart-item-row">
                                <td><span class="item-count">@counter</span></td>
                                @if (Model.IsEditable)
                                {
                                    <td class="remove-from-cart">
                                        <label class="td-title">@T("ShoppingCart.Remove"):</label>
                                        <input type="checkbox" name="removefromcart" value="@(item.Id)" />
                                    </td>
                                }
                                @if (Model.ShowSku)
                                {
                                    <td class="sku">
                                        <label class="td-title">@T("ShoppingCart.SKU"):</label>
                                        <span class="sku-number">@item.Sku</span>
                                    </td>
                                }
                                @if (Model.ShowProductImages)
                                {
                                    <td class="product-picture">
                                        <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                                    </td>
                                }

                                <td class="product">
                                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" class="product-name">@item.ProductName</a>
                                    @*Prachi - 14 March, 2016*@
                                    @if (!String.IsNullOrEmpty(Convert.ToString(@item.PendingShipDate)))
                                    {
                                        if ((!(@item.PendingShipDate < DateTime.Today.AddDays(1))) && @item.AvailableForPreOrder)
                                        {
                                            <br />
                                            <label style="font-weight:bold;color:red;">@T("ShippingInfo.ShippingDate").Text @Convert.ToDateTime(@item.PendingShipDate).ToShortDateString()</label>
                                        }
                                    }
                                    @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                    {
                                        <div class="attributes">
                                            @Html.Raw(item.AttributeInfo)
                                        </div>
                                    }
                                    @if (!String.IsNullOrEmpty(item.RecurringInfo))
                                    {
                                        <div class="recurring-info">
                                            @Html.Raw(item.RecurringInfo)
                                        </div>
                                    }
                                    @if (!String.IsNullOrEmpty(item.RentalInfo))
                                    {
                                        <div class="rental-info">
                                            @Html.Raw(item.RentalInfo)
                                        </div>
                                    }
                                    @if (Model.IsEditable && item.AllowItemEditing)
                                    {
                                        var editCartItemUrl = Url.RouteUrl("Product", new { SeName = item.ProductSeName });
                                        editCartItemUrl = webHelper.ModifyQueryString(editCartItemUrl, "updatecartitemid=" + item.Id, null);
                                        <div class="edit-item">
                                            <a href="@editCartItemUrl">@T("Common.Edit")</a>
                                        </div>
                                    }
                                    @if (item.Warnings.Count > 0)
                                    {
                                        <div class="message-error">
                                            <ul>
                                                @foreach (var warning in item.Warnings)
                                                {
                                                    <li>@warning</li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </td>
                                @*Added By Faisal on 11 Dec, 2015 *@

                                @if (@ViewBag.IsImpersonated == "Y")
                                {
                                    var selectedWareHouse = 0;
                                    <td class="product" style="width:200px;">
                                        @if (item.objProduct.ManageInventoryMethod == Nop.Core.Domain.Catalog.ManageInventoryMethod.ManageStock)
                                        {
                                            if (Model.IsEditable)
                                            {
                                                var cnt = 1;
                                                <table border="0" width="100%">
                                                    @foreach (var wareHouse in item.objProduct.ProductWarehouseInventory.OrderBy(o => o.Warehouse.Id))
                                                    {
                                                        var stock = 0;
                                                        var pwiadju = item.objProduct.ProductWarehouseInventory_OpeningAdjustment.FirstOrDefault(x => x.WarehouseId == wareHouse.WarehouseId);
                                                        if (pwiadju != null)
                                                        {
                                                            stock += pwiadju.AdjustmentQuantity;
                                                        }

                                                        stock += wareHouse.StockQuantity - (wareHouse.ReservedQuantity > 0 ? wareHouse.ReservedQuantity : 0);
                                                        //if (wareHouse.StockQuantity > 0 || item.objProduct.AvailableForPreOrder)
                                                        //{
                                                            //var stock = wareHouse.StockQuantity - (wareHouse.ReservedQuantity > 0 ? wareHouse.ReservedQuantity : 0);
                                                            <tr>
                                                                <td style="border:none; padding:3px;">
                                                                    <label>
                                                                        @*Changed by faisal on 15 Jan, 2016*@
                                                                        @*Changed by Prachi on 08 July, 2016*@
                                                                        @Html.RadioButton("Warehouse_" + item.Id, wareHouse.Warehouse.Id, (item.SelectedWareHouse == wareHouse.WarehouseId || cnt == 1 || wareHouse.Warehouse.Name.ToUpper().Contains("ESP")),
                                     new { id = wareHouse.Warehouse.Name, onclick = "changeHdn(" + wareHouse.Warehouse.Id + ", " + item.Id + ");" })
                                                                        @wareHouse.Warehouse.Name (@stock)
                                                                        @*End 08 July, 2016*@
                                                                        @if (item.SelectedWareHouse == wareHouse.WarehouseId || cnt == 1 || wareHouse.Warehouse.Name.ToUpper().Contains("ESP"))
                                                                        {
                                                                            selectedWareHouse = wareHouse.WarehouseId;
                                                                        }
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            cnt++;
                                                        //}
                                                    }
                                                </table>
                                            }
                                            else
                                            {
                                                foreach (var wareHouse in item.objProduct.ProductWarehouseInventory)
                                                {
                                                    if (wareHouse.WarehouseId == item.SelectedWareHouse)
                                                    {
                                                        <span class="product-quantity">@wareHouse.Warehouse.Name</span>
                                                        break;
                                                    }
                                                }
                                            }
                                        }
                                        @*Changed By Prachi On 08 July, 2016*@
                                        @*@Html.Hidden("hdnWarehouse_" + item.ProductId, selectedWareHouse)*@
                                        @Html.Hidden("hdnWarehouse_" + item.Id, selectedWareHouse)
                                        @*End 08 July, 2016*@
                                    </td>
                                }
                                @*End 11 Dec, 2015*@
                                @*Changed / Added By Faisal On 08 Jan, 2016*@
                                <td class="unit-price">
                                    @if (Model.IsEditable && ViewBag.IsImpersonated == "Y")
                                    {
                                        var unitprice = item.UnitPrice.Trim('$');
                                        <span>$ &nbsp;</span> 
                                        <input name="itemprice@(item.Id)" type="text" style="width:80px;height:30px;" maxlength="10" value="@(unitprice)" class="price-input"/>
                                    }
                                    else
                                    {
                                        <label class="td-title">@T("ShoppingCart.UnitPrice"):</label>
                                        <span class="product-unit-price">@item.UnitPrice</span>
                                    }
                                </td>
                                @*End 08 Jan, 2016*@
                                <td class="quantity">
                                    <label class="td-title">@T("ShoppingCart.Quantity"):</label>
                                    @if (Model.IsEditable)
                                    {
                                        if (item.AllowedQuantities.Count > 0)
                                        {
                                            <select name="itemquantity@(item.Id)" class="qty-dropdown">
                                                @foreach (var qty in item.AllowedQuantities)
                                                {
                                                    <option selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <input name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="qty-input" style="height:30px;" onchange="getTierPrice(@item.ProductId,this.value,@item.Id)" />
                                        }

                                    }
                                    else
                                    {
                                        <span class="product-quantity">@item.Quantity</span>
                                    }
                                </td>
                                <td class="subtotal">
                                    <label class="td-title">@T("ShoppingCart.ItemTotal"):</label>
                                    <span class="product-subtotal">@item.SubTotal</span>
                                    @if (!String.IsNullOrEmpty(item.Discount))
                                    {
                                        <div class="discount">
                                            @T("ShoppingCart.ItemYouSave"): @item.Discount
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
            {
                <div class="selected-checkout-attributes">
                    @Html.Raw(Model.CheckoutAttributeInfo)
                </div>
            }
            <div class="buttons">
                @if (Model.IsEditable)
                {
                    <div class="common-buttons">
                        <div class="update-cart-wrap">
                            <input type="submit" name="updatecart" value="@T("ShoppingCart.UpdateCart")" class="button-2 update-cart-button" />
                        </div>
                        <div class="continue-shopping-wrap">
                            <input type="submit" name="continueshopping" value="@T("ShoppingCart.ContinueShopping")" class="button-2 continue-shopping-button" />
                        </div>
                    </div>
                    @Html.Partial("_CheckoutAttributes", Model.CheckoutAttributes, new ViewDataDictionary())
                }
            </div>
            <div class="cart-footer">
                @Html.Widget("order_summary_cart_footer")
                @if (Model.IsEditable)
                {
                    if (!String.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
                    {
                        <div class="min-amount-warning">
                            @Model.MinOrderSubtotalWarning
                        </div>
                    }
                }
                <div class="totals">
                    @Html.Action("OrderTotals", "ShoppingCart", new { isEditable = Model.IsEditable })
                    @if (Model.IsEditable)
                    {
                        if (Model.TermsOfServiceOnShoppingCartPage)
                        {
                            <div id="terms-of-service-warning-box" title="@T("Checkout.TermsOfService")" style="display:none;">
                                <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
                            </div>
                            <div class="terms-of-service">
                                <input id="termsofservice" type="checkbox" name="termsofservice" />
                                <label for="termsofservice">@T("Checkout.TermsOfService.IAccept")</label>
                                <span class="read" onclick="javascript:OpenWindow('@Url.RouteUrl("TopicPopup", new { SystemName = "conditionsofUse" })', 450, 500, true)">@T("Checkout.TermsOfService.Read")</span>
                            </div>
                        }
                        <div class="checkout-buttons">
                            @if (String.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
                            {
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('#checkout').click(function () {
                                            //terms of service
                                            var termOfServiceOk = true;
                                            if ($('#termsofservice').length > 0) {
                                                //terms of service element exists
                                                if (!$('#termsofservice').is(':checked')) {
                                                    $("#terms-of-service-warning-box").dialog();
                                                    termOfServiceOk = false;
                                                } else {
                                                    termOfServiceOk = true;
                                                }
                                            }
                                            return termOfServiceOk;
                                        });
                                    });
                                </script>
                                <button type="submit" id="checkout" name="checkout" value="checkout" class="button-1 checkout-button">
                                    @T("Checkout.Button")
                                </button>
                            }
                        </div>
                        <div class="addon-buttons">
                            @*Payment method buttons (e.g. GoogleCheckoutButton, Paypal Express)*@
                            @Html.Partial("_ButtonPaymentMethod", Model)
                        </div>
                    }
                </div>
                <div class="cart-collaterals">
                    @if (Model.IsEditable)
                    {
                        <div class="deals">
                            @Html.Partial("_DiscountBox", Model.DiscountBox)
                            @Html.Partial("_GiftCardBox", Model.GiftCardBox)
                            @Html.Widget("order_summary_content_deals")
                        </div>
                        @Html.Partial("EstimateShipping", Model.EstimateShipping)
                    }
                </div>
            </div>
            if (Model.IsEditable)
            {
                @Html.Action("CrossSellProducts", "Product")
            }
        }
    }
    else
    {
        <div class="no-data">
            @T("ShoppingCart.CartIsEmpty")
        </div>
    }
    @Html.Widget("order_summary_content_after")
</div>
