﻿@model IEnumerable<Nop.Web.Models.PushToNopCommerceModel>

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}

<h2>PushToNopCommerce</h2>

<p>
   
</p>
<table class="table">
    <tr>
        <th>Company Code</th>
        <th>Pub Code</th>
        <th>Publication Date</th>
        <th>LC Initials</th>
        <th>LC Date</th>
        <th>Add Date</th>
        <th>Publication URL</th>
        <th>Description</th>
        <th>Edition Code</th>
        <th>Active</th>
        <th>Publication ID</th>
        <th>Publication Date Description</th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.LabelFor(i=>item.CompanyCode)
            @Html.ValueFor(i => item.CompanyCode)
        </td>
        <td>
            @Html.LabelFor(i => item.PubCode)
            @Html.ValueFor(i => item.PubCode)
        </td>
        <td>
            @Html.LabelFor(i => item.PublicationDate)
            @Html.ValueFor(i => item.PublicationDate)
        </td>
        <td>
            @Html.LabelFor(i => item.LCInitials)
            @Html.ValueFor(i => item.LCInitials)
        </td>
        <td>
            @Html.LabelFor(i => item.LCDate)
            @Html.ValueFor(i => item.LCDate)
        </td>
        <td>
            @Html.LabelFor(i => item.AddDate)
            @Html.ValueFor(i => item.AddDate)
        </td>
        <td>
            @Html.LabelFor(i => item.PublicationURL)
            @Html.ValueFor(i => item.PublicationURL)
        </td>
        <td>
            @Html.LabelFor(i => item.Description)
            @Html.ValueFor(i => item.Description)
        </td>
        <td>
            @Html.LabelFor(i => item.EditionCode)
            @Html.ValueFor(i => item.EditionCode)
        </td>
        <td>
            @Html.LabelFor(i => item.Active)
            @Html.ValueFor(i => item.Active)
        </td>
        <td>
            @Html.LabelFor(i => item.PublicationID)
            @Html.ValueFor(i => item.PublicationID)
        </td>
        <td>
            @Html.LabelFor(i => item.PublicationDateDescription)
            @Html.ValueFor(i => item.PublicationDateDescription)
        </td>
        <td>
            @Html.ActionLink("Push to NopCommerce","PushToNopCommerce",new {id=item.PublicationID})
        </td>
    </tr>
}

</table>
