﻿@using Nop.Core.Domain.Catalog
@model OrderModel.AddOrderProductModel.ProductDetailsModel
@{
    //page title
    ViewBag.Title = string.Format(T("Admin.Orders.Products.AddNew.Title2").Text, Model.Name, Model.OrderId);
}

@*we add enctype = "multipart/form-data" because "File upload" attribute control type requries it*@
@using (Html.BeginForm("AddProductToOrderDetails", "Order",
    new RouteValueDictionary(new { orderId = Model.OrderId, productId = Model.ProductId }),
    FormMethod.Post,
    new Dictionary<string, Object> { { "enctype", "multipart/form-data" } }))
{
    //Changs by Prachi on 16 Feb, 2016 - Calculation done for product being added and restriction added to allow only decimal values
    <script type="text/javascript">

    function calculateTotal() {
        if ($("#UnitPriceInclTax").val() != 0 && $("#Quantity").val() != 0 && $("#UnitPriceExclTax").val() != 0)
        {
            $("#SubTotalInclTax").val(parseFloat($("#UnitPriceInclTax").val() * $("#Quantity").val()).toFixed(2));
            $("#SubTotalExclTax").val(parseFloat($("#UnitPriceExclTax").val()* $("#Quantity").val()).toFixed(2));
        }
    }

    $(document).ready(function () {
        $('.adminInput').keyup(function (event) {
            return myFunc(this)
        });
    });

    function myFunc(id) {
        var val = $(id).val();
        var re = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)$/g;
        var re1 = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)/g;
        if (re.test(val)) {
            //do something here

        } else {
            val = re1.exec(val);
            if (val) {
                $(id).val(val[0]);
            } else {
                $(id).val("");
            }
        }
    }

    @*Changs by Prachi on 23 Feb, 2016 - ajax call to get the tiered price of product being edited *@
    function getTierPrice() {

        $.ajax({
            async:false,
            url: "../Order/GetTierPriceOfProduct",
            type: "GET",
            data: { productId: @Model.ProductId, orderId:@Model.OrderId, quantity:$('#Quantity').val()},
            success: function (data) {
                if(data)
                {
                    $('#UnitPriceExclTax').val(parseFloat(data.slice(0, data.indexOf(":"))).toFixed(2));
                    $('#UnitPriceInclTax').val(parseFloat(data.slice(data.indexOf(":")+1,data.length)).toFixed(2));
                    calculateTotal();
                }
            }
        });
    }


    </script>
    //Changs by Prachi on 16 Feb, 2016-- End
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-sales.png")" alt="" />
            @string.Format(T("Admin.Orders.Products.AddNew.Title2").Text, Model.Name, Model.OrderId)
            @Html.ActionLink("(" + T("Admin.Orders.Products.AddNew.BackToList") + ")", "AddProductToOrder", new { orderId = Model.OrderId })
        </div>
        <div class="options">
        </div>
    </div>
    <div>
        @if (Model.Warnings.Count > 0)
        {
            <div class="messageBox messageBoxError">
                @foreach (var warning in Model.Warnings)
                {
                    @warning
                    <br />
                }
            </div>
        }
    </div>
        if (Model.ProductType == ProductType.SimpleProduct)
        {
    <div>
        <table>
            <tr>
                <td>
                    @Html.NopLabelFor(model => model.UnitPriceInclTax):
                </td>
                <td>
                    @*Changs by Prachi on 16 Feb, 2016*@
                    @Html.TextBoxFor(model => model.UnitPriceInclTax, new { @onchange = "calculateTotal()", @class = "adminInput" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.NopLabelFor(model => model.UnitPriceExclTax):
                </td>
                <td>
                    @*Changs by Prachi on 16 Feb, 2016*@
                    @Html.TextBoxFor(model => model.UnitPriceExclTax, new { @onchange = "calculateTotal()", @class = "adminInput" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.NopLabelFor(model => model.Quantity):
                </td>
                <td colspan="2">
                    @*Changs by Prachi on 16 Feb, 2016*@
                    @Html.TextBoxFor(model => model.Quantity, new { @onchange = "getTierPrice()", @class = "adminInput" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.NopLabelFor(model => model.SubTotalInclTax):
                </td>
                <td>
                    @*Changs by Prachi on 16 Feb, 2016*@
                    @Html.TextBoxFor(model => model.SubTotalInclTax, new { @readonly = "readonly" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.NopLabelFor(model => model.SubTotalExclTax):
                </td>
                <td>
                    @*Changs by Prachi on 16 Feb, 2016*@
                    @Html.TextBoxFor(model => model.SubTotalExclTax, new { @readonly = "readonly" })
                </td>
            </tr>
        </table>
        <div>
            @Html.Partial("_ProductAddAttributes", Model.ProductAttributes)
        </div>
        @{
            var dataDictGiftCard = new ViewDataDictionary();
            dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = "giftcard";
            @Html.Partial("_ProductAddGiftCardInfo", Model.GiftCard, dataDictGiftCard)
        }
        <div>
            @Html.Partial("_ProductAddRentalInfo", Model)
        </div>
        @*<p>
            <strong>@T("Admin.Orders.Products.AddNew.Note2")</strong>
        </p>*@
        <input type="submit" class="k-button" value="@T("Admin.Orders.Products.AddNew")" id="btnSubmit" onclick=" getTierPrice();" />
    </div>
        }
        else if (Model.ProductType == ProductType.GroupedProduct)
        {
    <div>
        @*TODO add support for grouped products to be added to an existing order*@
        Grouped products are not currently supported for adding to an existing order
    </div>
        }
        else
        {
    <div>
        This product type (unknown) is not currently supported for adding to an existing order
    </div>
        }
}