﻿@model OrderModel
@{
    //page title
    ViewBag.Title = T("Admin.Orders.EditOrderDetails").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "order-form" }))
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-sales.png")" alt="" />
            @T("Admin.Orders.EditOrderDetails") - @Model.Id @Html.ActionLink("(" + T("Admin.Orders.BackToList") + ")", "List")
        </div>
        <div class="options">
            @if (!Model.IsLoggedInAsVendor)
            {
                <a href="@Url.Action("PdfInvoice", new { orderId = Model.Id })" class="k-button">@T("Admin.Orders.PdfInvoice")</a>
            }
            @if (!Model.IsLoggedInAsVendor)
            {
                //Added By Faisal on 08 Jan, 2016
                if (Model.ShippingStatus.ToUpper() != "SHIPPED" && Model.ShippingStatus.ToUpper() != "DELIVERED")
                {
                    <span id="order-delete" class="k-button">@T("Admin.Common.Delete")</span>
                }
            }
            @*Added By Prachi on 3 March, 2016 - to send invoice for an order by email*@
            @if (!Model.IsLoggedInAsVendor)
            {
                <a href="@Url.Action("EmailInvoice", new { orderId = Model.Id })" class="k-button">Email Invoice</a>
            }
            <input type="submit" id="btnRefreshPage" style="display: none" />
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#btnRefreshPage').click(function () {
                        //refresh page
                        location.reload();
                    });
                });
            </script>
        </div>
    </div>
    
    @Html.ValidationSummary(false)

    <div id="order-edit">
        <ul>
            <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
                @T("Admin.Orders.Info")
            </li>
            <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
                @T("Admin.Orders.BillingInfo")
            </li>
            <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
                @T("Admin.Orders.ShippingInfo")
            </li>
            <li @Html.RenderSelectedTabIndex(3, GetSelectedTabIndex())>
                @T("Admin.Orders.Products")
            </li>
            @if (!Model.IsLoggedInAsVendor)
            {
                <li @Html.RenderSelectedTabIndex(4, GetSelectedTabIndex())>
                    @T("Admin.Orders.OrderNotes")
                </li>
            }
            @*Added By Faisal On 03 Mar, 2016*@
            @if (Model.PaymentStatus.ToLower() == "paid" || Model.PaymentStatus.ToLower() == "partially refunded" || Model.PaymentStatus.ToLower() == "refunded")// || Model.PaymentStatus.ToLower() == "refunded" || Model.PaymentStatus.ToLower() == "voided")
            {
                <li @Html.RenderSelectedTabIndex(5, GetSelectedTabIndex())>
                    Refund / Charge
                </li>
            }
            @*End 03 Mar, 2016*@
        </ul>
        <div>
            @TabInfo()
        </div>
        <div>
            @TabBillingInfo()
        </div>
        <div>
            @TabShippingInfo()
        </div>
        <div>
            @TabProducts()
        </div>
        @if (!Model.IsLoggedInAsVendor)
        {
            <div>
                @TabOrderNotes()
            </div>
        }
        @*Added By Faisal On 03 Mar, 2016*@
        @if (Model.PaymentStatus.ToLower() == "paid" || Model.PaymentStatus.ToLower() == "partially refunded" || Model.PaymentStatus.ToLower() == "refunded")// || Model.PaymentStatus.ToLower() == "refunded" || Model.PaymentStatus.ToLower() == "voided")
        {
            <div>
                @TabRefund()
            </div>
        }
        @*End 03 Mar, 2016*@
    </div>
    <script>
        $(document).ready(function() {
            $("#order-edit").kendoTabStrip({
                animation:  {
                    open: {
                        effects: "fadeIn"
                    }
                },
                select: tabstrip_on_tab_select
            });
        });
    </script>

    {
        //custom tabs
        var eventMessage = new AdminTabStripCreated(this.Html, "order-edit");
        EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
        foreach (var eventBlock in eventMessage.BlocksToRender)
        {
            @eventBlock
        }
    }


    @*save selected tab index*@
	<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">

}
@Html.DeleteConfirmation("order-delete")
@helper TabInfo()
{
    @Html.Partial("_OrderDetails.Info", Model)
}
@helper TabBillingInfo()
{
    @Html.Partial("_OrderDetails.Billing", Model)
}
@helper TabShippingInfo()
{
    @Html.Partial("_OrderDetails.Shipping", Model)
}
@helper TabProducts()
{
    @Html.Partial("_OrderDetails.Products", Model)
}
@helper TabOrderNotes()
{
    @Html.Partial("_OrderDetails.Notes", Model)
}
@*Added By Faisal On 03 Mar, 2016*@
@if (Model.PaymentStatus.ToLower() == "paid" || Model.PaymentStatus.ToLower() == "partially refunded" || Model.PaymentStatus.ToLower() == "refunded")// || Model.PaymentStatus.ToLower() == "refunded" || Model.PaymentStatus.ToLower() == "voided")
{
    @helper TabRefund()
    {
        @Html.Partial("_OrderDetails.Refund", Model)
    }
}
@*End 03 Mar, 2016*@
