﻿@{
    ViewBag.Title = "ImportBulkOrders";
}

<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-sales.png")" alt="" />
        Import Bulk Orders
    </div>
</div>
@using (Html.BeginForm("UploadBulkOrders", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>
                <input type="file" id="Avatar" name="upload" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Upload" class="btn btn-default" />
            </td>
        </tr>
    </table>
    @*<div class="form-group">
        <div class="col-md-10">
            <input type="file" id="Avatar" name="upload" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Upload" class="btn btn-default" />
        </div>
    </div>*@
}