﻿@** Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
    * http://www.nop-templates.com/t/licensinginfo
*@

@model SevenSpikes.Nop.Plugins.AjaxCart.Models.AjaxCartButtonsModel

@if (Model.AddProductToCartAjaxButtonModels.Count > 0)
{
    if (!Model.IsAjax)
    {
        Html.AppendCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.AjaxCart/Themes/" + Model.NopAjaxCartSettingsModel.Theme + "/Content/styles.css");

        Html.AddScriptParts("~/Plugins/SevenSpikes.Nop.Plugins.AjaxCart/Scripts/jquery.json-2.2.min.js");
        Html.AddScriptParts("~/Plugins/SevenSpikes.Nop.Plugins.AjaxCart/Scripts/AjaxCart.min.js");

        Html.AddScriptParts("~/Scripts/kendo/2014.1.318/kendo.core.min.js");
        Html.AddScriptParts("~/Scripts/kendo/2014.1.318/kendo.userevents.min.js");
        Html.AddScriptParts("~/Scripts/kendo/2014.1.318/kendo.draganddrop.min.js");
        Html.AddScriptParts("~/Scripts/kendo/2014.1.318/kendo.window.min.js");
    }

    foreach (var button in Model.AddProductToCartAjaxButtonModels)
    {
        
        <div class="ajax-cart-button-wrapper" data-productid="@button.ProductId" data-isproductpage="@button.IsProductPage.ToString().ToLower()">
            @if (button.IsProductPage)
            {
                  <input type="button" id="add-to-cart-button-@button.ProductId" value="@button.ButtonValue" class="button-1 add-to-cart-button nopAjaxCartProductVariantAddToCartButton" 
				  data-productid="@button.ProductId" onclick="if(!ButtonClickCheck(event)){event.stopPropagation(); return false;} else { return true; }" />
            }
            else
            {
                if (Model.NopAjaxCartSettingsModel.EnableProductQuantityTextBox)
                {
                    if (button.AllowedQuantities.Count > 0)
                    {
                        <select id="@String.Concat("productQuantity", button.ProductId)" class="productQuantityDropdown" onmousedown="OnQuantityMouseDown(this);">
                            @foreach (var allowedQuantity in button.AllowedQuantities)
                            {
                                <option value="@allowedQuantity.Value">@allowedQuantity.Text</option>
                            }
                        </select>

                        <input class="@String.Concat("productQuantityChanged", button.ProductId)" type="hidden" value="no" />

                        <script type="text/javascript">

                            // when mouse down add the class to the product item as if we have hovered so that when we click on the select
                            // the overlay with the information does not disappear. for example: Alicante
                            function OnQuantityMouseDown(select)
                            {
                                var productItem = $(select).parents("@Model.NopAjaxCartSettingsModel.ProductBoxProductItemElementSelector");
                                $(productItem).addClass("ajax-cart-product-item-hover");

                                $("@String.Concat(".productQuantityChanged", button.ProductId)").val("yes");
                            }

                            // when mouse enter on the product item make a check whether we have selected something from the allowed quantities dropdown
                            // and if that is the case make the hidden input to "no" so that when mouse leave we will remove the item hover simulation 
                            $("@Model.NopAjaxCartSettingsModel.ProductBoxProductItemElementSelector").on("mouseenter", function () {

                                if ($("@String.Concat(".productQuantityChanged", button.ProductId)").val() == "yes")
                                {
                                    $("@String.Concat(".productQuantityChanged", button.ProductId)").val("no");
                                }
                            });

                            // when mouse leave check whether we have selected something from the allowed quantities select. If so do not remove the class that simualtes
                            // the product item hover. Mouse leave is executed when we click on any of the options in the select. In that case the hidden value will be "yes"
                            // and we will not remove the simulation of the item hover.
                            $("@Model.NopAjaxCartSettingsModel.ProductBoxProductItemElementSelector").on("mouseleave", function () {

                                if ($("@String.Concat(".productQuantityChanged", button.ProductId)").val() == "no")
                                {
                                    $(this).removeClass("ajax-cart-product-item-hover");
                                }
                            });

                        </script>
                    }
                    else
                    {

                        <input id="@String.Concat("productQuantity", @button.ProductId)" type="text" class="productQuantityTextBox" value="@button.DefaultProductMinimumQuantity" />
                    }
                }

                <input type="button" value="@button.ButtonValue" class="button-2 product-box-add-to-cart-button nopAjaxCartProductListAddToCartButton" data-productid="@button.ProductId" />
            }

            @if (!Model.IsAjax)
            {
                @Html.Hidden("addProductVariantToCartUrl", Url.RouteUrl("AddProductFromProductDetailsPageToCartAjax"))
                @Html.Hidden("addProductToCartUrl", Url.RouteUrl("AddProductToCartAjax"))
                @Html.Hidden("miniShoppingCartUrl", Url.RouteUrl("MiniShoppingCart"))
                @Html.Hidden("flyoutShoppingCartUrl", Url.RouteUrl("NopAjaxCartFlyoutShoppingCart"))
                @Html.Hidden("checkProductAttributesUrl", Url.RouteUrl("CheckIfProductOrItsAssociatedProductsHasAttributes"))
                @Html.Hidden("getMiniProductDetailsViewUrl", Url.RouteUrl("GetMiniProductDetailsView"))
                @Html.Hidden("flyoutShoppingCartPanelSelector", Html.Encode(Model.NopAjaxCartSettingsModel.FlyoutCartPanelSelector))
                @Html.Hidden("shoppingCartMenuLinkSelector", Html.Encode(Model.NopAjaxCartSettingsModel.ShoppingCartMenuLinkSelector))
                @Html.Partial("AdditionalPanelsToUpdate")
            }
        </div>
    }
}