﻿@{   
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}
@model Nop.Plugin.Misc.Dashboard.Models.ConfigurationModel
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;

@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td colspan="2">
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Skin):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.Skin, Model.Skins)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.TopN):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.TopN)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.TimeZone):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.TimeZone)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PriceWithTax):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.PriceWithTax)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Active):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Active)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.WidgetZone):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.WidgetZone, Model.AvailableZones)
                @Html.ValidationMessageFor(model => model.WidgetZone)
                <br /><em>If you want all charts on the bottom, you must update file \Administration\Views\Home\Index.cshtml - line with Html.Widget("admin_dashboard_bottom") please set after table tag</em>
            </td>
        </tr>


        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DashboardAdminChartWeek):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DashboardAdminChartWeek)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DashboardAdminChartMonth):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DashboardAdminChartMonth)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DashboardAdminChartYear):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DashboardAdminChartYear)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DashboardAdminChartMYear):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DashboardAdminChartMYear)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DashboardAdminChartProduct):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DashboardAdminChartProduct)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DashboardAdminChartProductLastMonth):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DashboardAdminChartProductLastMonth)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.LastMonth):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.LastMonth)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DashboardAdminChartCategory):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DashboardAdminChartCategory)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DashboardAdminChartManufacturer):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DashboardAdminChartManufacturer)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DashboardAdminChartVendor):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DashboardAdminChartVendor)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.OrderStatus):
            </td>
            <td class="adminData">
                @Html.DropDownList("OrderStatus", Model.OrderStatuses)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PaymentStatus):
            </td>
            <td class="adminData">
                @Html.DropDownList("PaymentStatus", Model.PaymentStatuses)
            </td>
        </tr>

        <tr>
            <td colspan="2" width="100%">
                <button type="submit" name="save" value="save" class="k-button">
                    Save</button>
            </td>
        </tr>
    </table>
    
}