﻿@model Nop.Plugin.Misc.Dashboard.Models.ConditionalModel

@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework.Controllers;
@using Nop.Web.Framework.Mvc;
@using Nop.Core.Infrastructure


@using (Html.BeginForm())
{

    @Html.HiddenFor(model => model.Id)
    
    
<table width="100%" style="padding-bottom: 10px;">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.StartDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.StartDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EndDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => Model.EndDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.OrderStatusId):
            </td>
            <td class="adminData">
                @Html.DropDownList("OrderStatusId", Model.AvailableOrderStatuses)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PaymentStatusId):
            </td>
            <td class="adminData">
                @Html.DropDownList("PaymentStatusId", Model.AvailablePaymentStatuses)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.GroupDate):
            </td>
            <td class="adminData">
                @Html.DropDownList("GroupDate", Model.AvailableGroupDates)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" id="btnGenerate" class="k-button" value="@T("Admin.Common.Generate")" />
            </td>
        </tr>
        
</table>



    <div id="dashboard-product-edit">
        <ul>
            <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
                @T("Admin.Dashboard.Tab.Product.Time")
            </li>
            <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
                @T("Admin.Dashboard.Tab.Product.Country")
            </li>
            <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
                @T("Admin.Dashboard.Tab.Product.Customer")
            </li>
            <li @Html.RenderSelectedTabIndex(3, GetSelectedTabIndex())>
                @T("Admin.Dashboard.Tab.Product.AttributeCombination")
            </li>
            <li @Html.RenderSelectedTabIndex(4, GetSelectedTabIndex())>
                @T("Admin.Dashboard.Tab.Product.Global")
            </li>
        </ul>

        <div>
            @TabTime()
        </div>
        <div>
            @TabCountry()
        </div>
        <div>
            @TabCustomer()
        </div>
        <div>
            @TabAttribute()
        </div>
        <div>
            @TabGlobal()
        </div>
    </div>


     <script>
        $(document).ready(function() {
            $("#dashboard-product-edit").kendoTabStrip({
                animation:  {
                    open: {
                        effects: "fadeIn"
                    }
                },
                select: tabstrip_on_tab_select,
                activate: onActivate
            });

            function onActivate(e) {
                var i = $(e.item).index();
                if (i == 0) {
                    $('#products-data-chart').data('kendoChart').refresh();
                }
                if (i == 1) {
                    $('#country-data-chart').data('kendoChart').refresh();
                }
                if (i == 2) {
                    $('#customer-data-grid').data('kendoGrid').dataSource.read();
                }
                if (i == 3) {
                    $('#attribute-data-chart').data('kendoChart').refresh();
                }

            }


        });

    </script>

    {
        //custom tabs
        var eventMessage = new Nop.Web.Framework.Events.AdminTabStripCreated(this.Html, "dashboard-product-edit");
        Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Services.Events.IEventPublisher>().Publish(eventMessage);
        foreach (var eventBlock in eventMessage.BlocksToRender)
        {
            @eventBlock
        }
    }

    @*save selected tab index*@
    <input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">
  
} 


@helper TabTime()
{
    
    
    <div id="products-data-chart"></div>

        <script>

            $(document).ready(function () {

                function additionalChartDataProduct() {
                    return {
                        StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                        EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                        OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                        PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                        GroupDate: $('#@Html.FieldIdFor(model => model.GroupDate)').val(),
                    };
                }

                $("#products-data-chart").kendoChart({
                    chartArea: {
                        height: 300
                    },
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("SalesDataRandom", "DashboardProduct", new { ControlId = 1, ProductId = Model.Id }))",
                                dataType: "json",
                                type: "POST",
                                data: additionalChartDataProduct,
                            }
                        }
                    },
                    title: {
                        text: "@T("Admin.Dashboard.Tab.Product.Time.TitleChart")"
                    },
                    theme: "@Model.Skin",
                    legend: {
                        visible: false
                    },
                    seriesDefaults: {
                        type: "bar"
                    },
                    series: [{
                        name: "TotalSales",
                        field: "TotalSales",
                        type: "column",
                        stack: true,
                        axis: "sal",
                        tooltip: {
                            visible: true,
                            template: "#: kendo.format('{0:N2}', value) #",
                        }

                    }, {
                        name: "Quantity",
                        field: "Quantity",
                        type: "line",
                        axis: "qty",

                        tooltip: {
                            visible: true,
                            template: "#: value #",
                        }

                    }],
                    valueAxis: [
                    {
                        name: "sal",
                        title:
                            {
                                text: "@T("Admin.Dashboard.Tab.Product.Time.Column.TotalSales")",
                            },
                        format: '{0:N2}'
                    },
                    {
                        name: "qty",
                        title:
                            {
                                text: "@T("Admin.Dashboard.Tab.Product.Time.Column.Quantity")",
                            },
                    }]
                    ,
                    categoryAxis: {
                        field: "DimName",
                        visible: false,
                        axisCrossingValues: [0, 100],
                        crosshair: {
                            tooltip: {
                                template: "#: value #",
                                visible: true
                            },
                            visible: true
                        },
                    }
                });
            });
        </script>



    <div id="products-data-grid"></div>

                <script>
                    $(document).ready(function () {

                        function additionalGridDataProduct() {
                            return {
                                StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                                EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                                OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                                PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                                GroupDate: $('#@Html.FieldIdFor(model => model.GroupDate)').val(),
                            };
                        }

                        $("#products-data-grid").kendoGrid({
                            toolbar: ["excel"],
                            excel: {
                                fileName: "Report_Table.xlsx",
                                filterable: true
                            },
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("SalesDataRandom", "DashboardProduct", new { ControlId = 2, ProductId = Model.Id }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalGridDataProduct
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    
                                },
                                requestEnd: function (e) {
                                    if (e.type == "read") {
                                        var response = e.response;
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                        },
                        pageable: {
                                refresh: false,
                                numeric: false,
                                previousNext: false,
                                info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,                        
                        columns: [                            
                            {
                                field: "DimName",
                                title: "@T("Admin.Dashboard.Tab.Product.Grid.Column.DimName")",
                                width: 200
                            }, {
                                field: "TotalSales",
                                title: "@T("Admin.Dashboard.Tab.Product.Grid.Column.TotalSales")",
                                format: '{0:N2}',
                                width: 150,
                            }, {
                                field: "Quantity",
                                title: "@T("Admin.Dashboard.Tab.Product.Grid.Column.Quantity")",
                                width: 200
                            }
                        ]
                    } );
                        });
                </script>
    
    
}

@helper TabCountry()
{



    <div id="country-data-chart"></div>

        <script>

            $(document).ready(function () {

                function additionalChartDatacountry() {
                    return {
                        StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                        EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                        OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                        PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                        GroupDate: $('#@Html.FieldIdFor(model => model.GroupDate)').val(),
                    };
                }

                $("#country-data-chart").kendoChart({
                    chartArea: {
                        height: 300
                    },
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("SalesDataRandom", "DashboardProduct", new { ControlId = 3, ProductId = Model.Id }))",
                                dataType: "json",
                                type: "POST",
                                data: additionalChartDatacountry,
                            }
                        }
                    },
                    title: {
                        text: "@T("Admin.Dashboard.Tab.Product.Country.TitleChart")"
                    },
                    theme: "@Model.Skin",
                    legend: {
                        visible: false
                    },
                    seriesDefaults: {
                        type: "bar"
                    },
                    series: [{
                        name: "TotalSales",
                        field: "TotalSales",
                        type: "column",
                        stack: true,
                        axis: "sal",
                        tooltip: {
                            visible: true,
                            template: "#: kendo.format('{0:N2}', value) #",
                        }

                    }, {
                        name: "Quantity",
                        field: "Quantity",
                        type: "line",
                        axis: "qty",

                        tooltip: {
                            visible: true,
                            template: "#: value #",
                        }

                    }],
                    valueAxis: [
                    {
                        name: "sal",
                        title:
                            {
                                text: "@T("Admin.Dashboard.Tab.Product.Column.TotalSales")",
                            },
                        format: '{0:N2}'
                    },
                    {
                        name: "qty",
                        title:
                            {
                                text: "@T("Admin.Dashboard.Tab.Product.Column.Quantity")",
                            },
                    }]
                    ,
                    categoryAxis: {
                        field: "DimName",
                        visible: false,
                        axisCrossingValues: [0, 100],
                        crosshair: {
                            tooltip: {
                                template: "#: value #",
                                visible: true
                            },
                            visible: true
                        },
                    }
                });
            });
        </script>



    <div id="country-data-grid"></div>

                <script>
                    $(document).ready(function () {

                        function additionalGridDatacountry() {
                            return {
                                StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                                EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                                OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                                PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                                GroupDate: $('#@Html.FieldIdFor(model => model.GroupDate)').val(),
                            };
                        }

                        $("#country-data-grid").kendoGrid({
                            toolbar: ["excel"],
                            excel: {
                                fileName: "Report_Table.xlsx",
                                filterable: true
                            },
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("SalesDataRandom", "DashboardProduct", new { ControlId = 4, ProductId = Model.Id }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalGridDatacountry
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    
                                },
                                requestEnd: function (e) {
                                    if (e.type == "read") {
                                        var response = e.response;
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                        },
                        pageable: {
                                refresh: false,
                                numeric: false,
                                previousNext: false,
                                info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,                        
                        columns: [                            
                            {
                                field: "DimName",
                                title: "@T("Admin.Dashboard.Tab.Product.Country.Grid.Column.DimName")",
                                width: 200
                            }, {
                                field: "TotalSales",
                                title: "@T("Admin.Dashboard.Tab.Product.Country.Grid.Column.TotalSales")",
                                format: '{0:N2}',
                                width: 150,
                            }, {
                                field: "Quantity",
                                title: "@T("Admin.Dashboard.Tab.Product.Country.Grid.Column.Quantity")",
                                width: 200
                            }
                        ]
                    } );
                        });
                </script>
    
    
}


@helper TabCustomer()
{
    
    
    <div id="customer-data-grid"></div>

                <script>
                    $(document).ready(function () {

                        function additionalGridDatacustomer() {
                            return {
                                StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                                EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                                OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                                PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                                GroupDate: $('#@Html.FieldIdFor(model => model.GroupDate)').val(),
                            };
                        }

                        $("#customer-data-grid").kendoGrid({
                            toolbar: ["excel"],
                            excel: {
                                fileName: "Report_Table.xlsx",
                                filterable: true
                            },
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("SalesDataRandom", "DashboardProduct", new { ControlId = 5, ProductId = Model.Id }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalGridDatacustomer
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    
                                },
                                requestEnd: function (e) {
                                    if (e.type == "read") {
                                        var response = e.response;
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                        },
                        pageable: {
                                refresh: false,
                                numeric: false,
                                previousNext: false,
                                info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,                        
                        columns: [                            
                            {
                                field: "DimName",
                                title: "@T("Admin.Dashboard.Tab.Product.Customer.Grid.Column.DimName")",
                                width: 200
                            }, {
                                field: "TotalSales",
                                title: "@T("Admin.Dashboard.Tab.Product.Customer.Grid.Column.TotalSales")",
                                format: '{0:N2}',
                                width: 150,
                            }, {
                                field: "Quantity",
                                title: "@T("Admin.Dashboard.Tab.Product.Customer.Grid.Column.Quantity")",
                                width: 200
                            }
                        ]
                    } );
                        });
                </script>
    
}


@helper TabAttribute()
{



    <div id="attribute-data-chart"></div>

    <script>

            $(document).ready(function () {

                function additionalChartDataattribute() {
                    return {
                        StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                        EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                        OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                        PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                        GroupDate: $('#@Html.FieldIdFor(model => model.GroupDate)').val(),
                    };
                }

                $("#attribute-data-chart").kendoChart({
                    chartArea: {
                        height: 300
                    },
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("SalesDataRandom", "DashboardProduct", new { ControlId = 7, ProductId = Model.Id }))",
                                dataType: "json",
                                type: "POST",
                                data: additionalChartDataattribute,
                            }
                        }
                    },
                    title: {
                        text: "@T("Admin.Dashboard.Tab.Product.Attribute.TitleChart")"
                    },
                    theme: "@Model.Skin",
                    legend: {
                        visible: false
                    },
                    seriesDefaults: {
                        type: "bar"
                    },
                    series: [{
                        name: "TotalSales",
                        field: "TotalSales",
                        type: "column",
                        stack: true,
                        axis: "sal",
                        tooltip: {
                            visible: true,
                            template: "#: kendo.format('{0:N2}', value) #",
                        }

                    }, {
                        name: "Quantity",
                        field: "Quantity",
                        type: "line",
                        axis: "qty",

                        tooltip: {
                            visible: true,
                            template: "#: value #",
                        }

                    }],
                    valueAxis: [
                    {
                        name: "sal",
                        title:
                            {
                                text: "@T("Admin.Dashboard.Tab.Product.Column.TotalSales")",
                            },
                        format: '{0:N2}'
                    },
                    {
                        name: "qty",
                        title:
                            {
                                text: "@T("Admin.Dashboard.Tab.Product.Column.Quantity")",
                            },
                    }]
                    ,
                    categoryAxis: {
                        field: "DimName",
                        visible: false,
                        axisCrossingValues: [0, 100],
                        crosshair: {
                            tooltip: {
                                template: "#: value #",
                                visible: true
                            },
                            visible: true
                        },
                    }
                });
            });
    </script>



    <div id="attribute-data-grid"></div>

    <script>
                    $(document).ready(function () {

                        function additionalGridDataattribute() {
                            return {
                                StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                                EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                                OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                                PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                                GroupDate: $('#@Html.FieldIdFor(model => model.GroupDate)').val(),
                            };
                        }

                        $("#attribute-data-grid").kendoGrid({
                            toolbar: ["excel"],
                            excel: {
                                fileName: "Report_Table.xlsx",
                                filterable: true
                            },
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("SalesDataRandom", "DashboardProduct", new { ControlId = 8, ProductId = Model.Id }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalGridDataattribute
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",

                                },
                                requestEnd: function (e) {
                                    if (e.type == "read") {
                                        var response = e.response;
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                        },
                        pageable: {
                                refresh: false,
                                numeric: false,
                                previousNext: false,
                                info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [
                            {
                                field: "DimName",
                                title: "@T("Admin.Dashboard.Tab.Product.Attribute.Grid.Column.DimName")",
                                width: 200
                            }, {
                                field: "TotalSales",
                                title: "@T("Admin.Dashboard.Tab.Product.Attribute.Grid.Column.TotalSales")",
                                format: '{0:N2}',
                                width: 150,
                            }, {
                                field: "Quantity",
                                title: "@T("Admin.Dashboard.Tab.Product.Attribute.Grid.Column.Quantity")",
                                width: 200
                            }
                        ]
                    } );
                        });
    </script>


}






@helper TabGlobal()
{
    
    
    <div id="share-data-grid"></div>

                <script>
                    $(document).ready(function () {

                        function additionalGridDatashare() {
                            return {
                                StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                                EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                                OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                                PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                                GroupDate: $('#@Html.FieldIdFor(model => model.GroupDate)').val(),
                            };
                        }

                        $("#share-data-grid").kendoGrid({
                            toolbar: ["excel"],
                            excel: {
                                fileName: "Report_Table.xlsx",
                                filterable: true
                            },
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("SalesDataRandom", "DashboardProduct", new { ControlId = 6, ProductId = Model.Id }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalGridDatashare
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    
                                },
                                requestEnd: function (e) {
                                    if (e.type == "read") {
                                        var response = e.response;
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                        },
                        pageable: {
                                refresh: false,
                                numeric: false,
                                previousNext: false,
                                info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,                        
                        columns: [                            
                            {
                                field: "DimName",
                                title: "@T("Admin.Dashboard.Tab.Product.Global.Grid.Column.DimName")",
                                width: 200
                            }, {
                                field: "TotalSales",
                                title: "@T("Admin.Dashboard.Tab.Product.Global.Grid.Column.TotalSales")",
                                format: '{0:N2}',
                                width: 150,
                            }
                        ]
                    } );
                        });
                </script>
    
}



<script type="text/javascript">

    $(document).ready(function () {

        $('#btnGenerate').click(function () {

            //products
            var gridTableProduct = $('#products-data-grid').data('kendoGrid');
            gridTableProduct.dataSource.read();

            var chartTableProduct = $('#products-data-chart').data('kendoChart');
            chartTableProduct.dataSource.read();

            //country
            var gridTableCountry = $('#country-data-grid').data('kendoGrid');
            gridTableCountry.dataSource.read();

            var chartTableCountry = $('#country-data-chart').data('kendoChart');
            chartTableCountry.dataSource.read();

            //Customer
            var gridTableCustomer = $('#customer-data-grid').data('kendoGrid');
            gridTableCustomer.dataSource.read();

            var gridTableshare = $('#share-data-grid').data('kendoGrid');
            gridTableshare.dataSource.read();

            //attribute
            var gridTableattribute = $('#attribute-data-grid').data('kendoGrid');
            gridTableattribute.dataSource.read();

            var chartTableattribute = $('#attribute-data-chart').data('kendoChart');
            chartTableattribute.dataSource.read();
            return false;
        });


    });



</script>