﻿@model Nop.Web.Models.VerifyNASOMember.VerifyNASOMemberModel
@{
    var RunModelURL = @System.Configuration.ConfigurationManager.AppSettings["RunModelURL"].ToString();
    var ReturnURL = @System.Configuration.ConfigurationManager.AppSettings["ReturnURL"].ToString();
}
<style type="text/css">
    .ShowStatus {
        color: white;
        font-weight: bold;
        background-color: #a2112b;
    }
    /* unvisited link */
    p a:link {
        color: #1F8DD6;
    }

    /* visited link */
    p a:visited {
        color: #609;
    }

    #naso-alert-left{
        vertical-align:middle;
    }

    .imgInfo
    {
        vertical-align:middle;
    }
</style>

<link href="@Url.Content("~/Content/Styles/Style.css")" rel="stylesheet" type="text/css" />
<br />


<div class="category-item" style="text-align:center;">

    @switch (Model.NASOMemberStatus)
    {
        case "Active":
            //Added by Faisal on 19 Nov,2015
            <div class="wrapper">
                <div id="naso-alert-left"><center><img src="@Url.Content("~/Content/Images/naso-alert-icon.png")" alt="!" class="imgInfo"></center></div>
                <div id="naso-alert-right">
                    <br />
                    <p class="large">Congratulations! You are an active NASO member. <br />Prices in the store have changed to reflect your 20% member discount.</p>
                    <br />
                </div>
            </div>
            <br clear="all">
            
            //<p class="ShowStatus">
                @*Congrats! We have recognized that you are an active NASO member.
                    While you are logged in, prices shown will automatically reflect your  member discount.
                    Please note that not all items qualify for a discount.*@
                @*"CONGRATULATIONS - You are a ACTIVE NASO MEMBER. Prices in the store have changed to reflect your 20% member discount."*@
            //    Congratulations! You are an active NASO member.
            //</p><p class="ShowStatus">
            //    Prices in the store have changed to reflect your 20% member discount.
            //</p>
            break;
        case "NotActive":
            //Added by Faisal on 19 Nov,2015
            <div class="wrapper">
                <div id="naso-alert-left"><img src="@Url.Content("~/Content/Images/naso-alert-icon.png")" alt="!" class="margin imgInfo"></div>
                <div id="naso-alert-right">
                    <br />
                    <p class="large">Your NASO account is expired. <br /> <a href="@RunModelURL/NO/subinfo.aspx?PC=NO&ReturnUrl=@ReturnURL">Renew Today</a> to save 20% on a wide selection of books and videos or shop now at regular prices.</p>
                    <br />
                </div>
            </div>
            <br clear="all">
            
            @*<p class="ShowStatus">
                Your NASO account is EXPIRED.
            </p>
            <p class="ShowStatus">
                @*<a href="@RunModelURL/subrenew.aspx?pc=NO&AN=@Model.AccountNumber&ZP=@Model.ZipCode&ReturnUrl=@ReturnURL">* @
                <a href="@RunModelURL/NO/subinfo.aspx?PC=NO&ReturnUrl=@ReturnURL">
                    RENEW TODAY
                </a> to save 20% on a wide selection of books and videos.
            </p> <p class="ShowStatus">
                Or shop now at regular prices.

                @*"Your naso account has expired. <a href="@RunModelURL/subrenew.aspx?pc=NO&AN=@Model.AccountNumber&ZP=@Model.ZipCode&ReturnUrl=@ReturnURL">RENEW</a> Today to
                    save 20% on select books and videos or shop at regular prices."*@
                @*Your NASO membership has lapsed, please <a href="@RunModelURL/subrenew.aspx?pc=NO&AN=@Model.AccountNumber&ZP=@Model.ZipCode&ReturnUrl=@ReturnURL">click here</a> to renew and enjoy your membership discounts.* @
            </p>*@
            break;
        case "NotNASOMember":
            //Added by Faisal on 19 Nov,2015
            <div class="wrapper">
                <div id="naso-alert-left"><center><img src="@Url.Content("~/Content/Images/naso-alert-icon.png")" alt="!" class="margin imgInfo"></center></div>
                <div id="naso-alert-right">
                    <br />
                    <p class="large">Your store account doesn’t match with any active or expired NASO member accounts. <br /> You may continue to shop at regular prices or <a href="@RunModelURL/NO/subnew.aspx?pc=NO&ReturnUrl=@ReturnURL">Join NASO</a> today for <strong>20% off</strong> select books and videos.</p>
                    <br />
                </div>
            </div>
            <br clear="all">
            
            @*<p class="ShowStatus">
                The information in your account doesn't match with any active or expired NASO member accounts.
            </p>
            <p class="ShowStatus">
                You may  continue to shop as a guest or
                @*<a href="@RunModelURL/subnew1.aspx?pc=NO&AN=@Model.AccountNumber&ReturnUrl=@ReturnURL">JOIN NASO</a>* @
                <a href="@RunModelURL/NO/subnew.aspx?pc=NO&ReturnUrl=@ReturnURL">JOIN NASO</a>
                today for 20% off select books and videos.
            </p>
            <p class="ShowStatus">
                If you feel you should be receiving the NASO discount, please <a href="@Url.RouteUrl("ContactUs")">CONTACT US</a>.

                @*"The information in your account doesn't match with any
                            active or expired NASO member accounts.
                            If you are a NASO member and feel this is a mistake, please continue shopping and when you get to the cart page you can enter your member number and zip code for additional verification.
                            If you are not a NASO member you can <a href="@RunModelURL/subnew1.aspx?pc=NO&AN=@Model.AccountNumber&ReturnUrl=@ReturnURL">JOIN NOW</a> to get 20% off or simply enjoy the Referee Training Center."
                    @*<a href="@RunModelURL/subnew1.aspx?pc=NO&AN=@Model.AccountNumber&ReturnUrl=@ReturnURL">Click here</a> to become part of our organization and receive membership discounts.* @
            </p>*@
            break;
        case "NotLoggedIn":
            //Added by Faisal on 19 Nov,2015
            <div class="wrapper">
                <div id="naso-alert-left"><img src="@Url.Content("~/Content/Images/naso-alert-icon.png")" alt="!" class="imgInfo margin"></div>
                <div id="naso-alert-right">
                    <br />
                    <p class="large">NASO members get <strong>20% off</strong> a wide selection of merchandise.<br />
                        You must <a href="@Url.RouteUrl("Login")">Log In</a> or <a href="@Url.RouteUrl("Register")">Register</a> to activate your discount.</p>
                    <br />
                    <p class="small">You may also shop now as a guest at regular prices.</p>
                    <br />
                </div>
            </div>
            <br clear="all">
            
            @*<p class="ShowStatus">
                @*"NASO MEMBERS get 20% off on selected items. You must
                    <a href="@Url.RouteUrl("Login")">SIGN IN</a> OR <a href="@Url.RouteUrl("Register")">REGISTER</a>
                    To activate your discount. You may also shop now as a guest."* @
                Attention: NASO members get 20% off a wide selection of merchandise.
            </p>
            <p class="ShowStatus">You must <a href="@Url.RouteUrl("Login")">LOG IN</a> OR <a href="@Url.RouteUrl("Register")">REGISTER</a> to activate your discount. </p>
            <p class="ShowStatus">
                You may also shop now as a guest at regular prices.
            </p>
            @*<p class="ShowStatus">
                    <a href="@Url.RouteUrl("Login")">Log in</a> or <a href="@RunModelURL/subnew1.aspx?pc=NO&AN=@Model.AccountNumber&ReturnUrl=@ReturnURL">sign up</a> today to receive your membership benefits including discounts on products in our store.
            </p>*@
            break;
        default:
        <p>
            status : @Model.NASOMemberStatus
        </p>
        <p>
            acno: @Model.AccountNumber
        </p>
            break;
    }
</div>
<br />
