﻿@{
    Layout = "";
}
@model Nop.Plugin.DiscountRules.OrderTotal.Models.RequirementModel
@using Nop.Web.Framework;

    <script type="text/javascript">
        $(document).ready(function () {
            $('#saveordertotalrequirement@(Model.RequirementId)').click(function () {
                var ordertotal = $("#@Html.FieldIdFor(model => model.OrderTotal)").val();
                var discountId = @Model.DiscountId;
                var requirementId = @Model.RequirementId;

                var postData = {
                    ordertotal: ordertotal, 
                    discountId: discountId,
                    discountRequirementId: requirementId
                };
                addAntiForgeryToken(postData);

                $.ajax({
                    cache:false,
                    type: "POST",
                    url: "@(Url.Action("Configure", "DiscountRulesOrderTotal"))",
                    data: postData,
                    success: function (data) {
                         $('#pnl-save-requirement-result@(Model.RequirementId)').fadeIn("slow").delay(1000).fadeOut("slow");
                         //notify parent if it's a new requirement
                         @if (Model.RequirementId == 0)
                         {
                            <text>$("#discountRequirementContainer").trigger('nopnewdiscountruleadded', [data.NewRequirementId]);</text>
                         }
                    },
                    error:function (xhr, ajaxOptions, thrownError){
                        alert('@T("Admin.Promotions.Discounts.Requirements.FailedToSave")');
                    }  
                });
            });
        });
    </script>
    
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.OrderTotal):
            </td>
            <td class="adminData">
                <div>@Html.EditorFor(model => model.OrderTotal) <input type="button" id="saveordertotalrequirement@(Model.RequirementId)" class="t-button" value="@T("Admin.Common.Save")" /></div>
                <div id="pnl-save-requirement-result@(Model.RequirementId)" style="display:none;">@T("Admin.Promotions.Discounts.Requirements.Saved")</div>
            </td>
        </tr>
    </table>