﻿@model ReshipCompletedModel
@using Nop.Web.Models.Order;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}


<div class="page-title">
    <h1>@T("Checkout.ThankYou")</h1>
</div>
<div class="page-body checkout-data">
    @Html.Widget("checkout_completed_top")
    <div class="section order-completed">
        <div class="title">
            <strong>@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</strong>
        </div>
        <div class="details">
            <div class="order-number">
                <strong>@T("Checkout.OrderNumber"): @Model.OrderId</strong>
            </div>
            <div class="details-link">
                <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">@T("Checkout.PlacedOrderDetails")</a>
            </div>
        </div>
        <div class="buttons">
            <input type="button" value="@T("Checkout.ThankYou.Continue")" class="button-1 order-completed-continue-button" onclick="setLocation('@Url.RouteUrl("HomePage")')" />
        </div>
    </div>
    @Html.Widget("checkout_completed_bottom")
</div>